<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type,:selected => "True/False"),:disabled=>true  %>
  Points <%= text_field_tag "body[point]",@question.body[:point] , :style => "width: 30px" %>

</p>

<p>
  Statement
  </br>
  <%= text_area_tag "body[question]", @question.body[:question] %>
</p>
<p>
  <%=  radio_button_tag "body[answer]",true,(@question.body[:answer]== 'true') %>  True - the whole statement is true
</p>
<p>
  <%=  radio_button_tag "body[answer]",false,(@question.body[:answer]== 'false') %> False - the whole statement is false
</p>
<p>
  Explain Annotate
</p>
<p>
  <%= check_box_tag "body[questions_random_order]",true, (@question.body[:questions_random_order]== 'true') %> Questions in random order
</p>