<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type),:disabled=>true   %>
  Point <%= text_field_tag "body[point]",@question.body[:point], :style => "width: 30px" %>
  <%= check_box_tag "body[partial]",true, (@question.body[:partial] == 'true') %>
  Partial or extra credit
</p>

<p>
  Question
  </br>
  <%= text_area_tag "body[question]",@question.body[:question] %>
</p>

<p>
  <span>Choice </span>  <span> Correct</span> <button id="add_answer" type="button" class="btn">Add</button>
</p>
<div id="answer">
  <% @question.body[:answer].each_with_index do |answer,index| %>
  <p>
    <%= text_field_tag "body[answer][]"  ,answer %>
    <% if @question.body[:partial] == 'true' %>
        <%= text_field_tag "points[]",@question.body[:points][index]  %>
    <% else %>
        <%= radio_button_tag "body[correct]",index,(index == @question.body[:correct]) %>
    <% end %>


    <button id="del_answer" type="button" class="btn">Del</button>
  </p>
  <% end %>

</div>

<p>
  <%= check_box_tag "body[choices_random_order]",true, true %> Choices in random order
</p>
<p>
  <%= check_box_tag "body[questions_random_order]",true, true %> Questions in random order
</p>



