<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type, :selected => "Long Answer"),:disabled => true  %>
  Points<%= text_field_tag "body[point]",@question.body[:point] , :style => "width: 30px" %>

</p>

<p>
  Question
  </br>
  <%= text_area_tag "body[question]", @question.body[:question]  %>
</p>

<p>
  <span>Answer </span>
</p>
<div id="answer">
  <p>
    <%= text_area_tag "body[answer_correct]",@question.body[:answer]  %>
  </p>

</div>
<p>
  Annotate
</p>

<p>
  <%= check_box_tag "body[questions_random_order]",true, true %> Questions in random order
</p>



