<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type, :selected => "Matching"),:disabled=>true   %>
  Points each <%= text_field_tag "body[point]",@question.body[:point] , :style => "width: 30px" %>

</p>

<p>
  Question/Direction (optional)
  </br>
  <%= text_area_tag "body[question]",@question.body[:question] %>
</p>

<p>
  <span>Stems </span>  <span> Choices</span> <button id="add_matching" type="button" class="btn">Add</button>
</p>
<div id="answer">
  <% @question.body[:stems].each_with_index do |stems,index| %>
      <p>
        <%= text_field_tag "body[answer][][stems]" ,stems.values[0] %>
        <%= hidden_field_tag "body[answer][][stems_index]" ,stems.keys[0] %>
        <%= text_field_tag "body[answer][][choice]", @question.body[:choice][index].values[0] %>
        <%= hidden_field_tag "body[answer][][choice_index]", @question.body[:choice][index].keys[0] %>
        <button id="del_answer" type="button" class="btn">Del</button>
      </p>
  <% end %>

</div>
<p>
  More Explain Annotate
</p>
<p>
  <%= check_box_tag "body[stems_random_order]",true, true %> Stems in random order
</p>
<p>
  <%= radio_button_tag "body[choices_random_order]",'random', (@question.body[:rand_choices] == 'random') %> Choices in random order
</p>
<p>
  <%= radio_button_tag "body[choices_random_order]",'alphabet', (@question.body[:rand_choices] == 'alphabet') %> Choices in alphabetical order
</p>
<p>
  <%= check_box_tag "body[questions_random_order]",true, true %> Questions in random order
</p>



