<p style= "color: #ff0000;"><%= flash[:error] if flash[:error] %> </p>
<p style= "color: #ff0000;"><%= flash.now[:notice] if flash.now[:notice] %> </p>
<%= simple_form_for(@question) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <label> Name </label>
      <%= text_field_tag "question[name]", @question.name %>
      <% case @question.body[:question_type] %>
      <% when "Multiple Choice" %>
          <% if @question.new_record? %>
              <%= render 'multiple_choice',:object => @question %>
          <% else %>
              <%= render 'edit_multiple_choice', :object => @question %>
          <% end %>
      <% when "Multiple Answer" %>
          <% if @question.new_record?  %>
              <%= render 'multiple_answer' %>
          <% else %>
              <%= render 'edit_multiple_answer', :object => @question %>
          <% end %>
      <% when "Matching" %>
          <% if @question.new_record?  %>
              <%= render 'matching' %>
          <% else %>
              <%= render 'edit_matching', :object => @question %>
          <% end %>
      <% when "True/False" %>
          <% if @question.new_record?  %>
              <%= render 'true_false' %>
          <% else %>
              <%= render 'edit_true_false', :object => @question %>
          <% end %>
      <% when "Sorting" %>
          <% if @question.new_record?  %>
              <%= render 'sorting' %>
          <% else %>
              <%= render 'edit_sorting', :object => @question %>
          <% end %>
      <% when "Short Answer" %>
          <% if @question.new_record?  %>
              <%= render 'short_answer' %>
          <% else %>
              <%= render 'edit_short_answer', :object => @question %>
          <% end %>
      <% when "Long Answer" %>
          <% if @question.new_record?  %>
              <%= render 'long_answer' %>
          <% else %>
              <%= render 'edit_long_answer', :object => @question %>
          <% end %>
      <% else %>
          <% if @question.new_record?  %>
              <%= render 'multiple_choice' %>
          <% else %>
              <%= render 'edit_multiple_choice', :object => @question %>
          <% end %>
      <% end %>
      <p>
        <%= check_box_tag "question[draft]", true, (@question.draft == true) %>  Draft
      </p>

    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
