<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type, :selected => "Matching")  %>
  Points each <%= text_field_tag "body[point]",@question.body[:point] , :style => "width: 30px" %>

</p>

<p>
  Question/Direction (optional)
  </br>
  <%= text_area_tag "body[question]",@question.body[:question] %>
</p>

<p>
  <span>Stems </span>  <span> Choices</span> <button id="add_matching" type="button" class="btn">Add</button>
</p>
<div id="answer">
  <% @question.body[:answer].each_with_index do |answer,index| %>
      <p>
        <%= text_field_tag "body[answer][][stems]" ,answer.nil? ? nil : answer['stems']   %>
        <%= text_field_tag "body[answer][][choice]" , answer.nil? ? nil : answer['choice']  %>
        <button id="del_answer" type="button" class="btn">Del</button>
      </p>
  <% end %>

</div>
 <p>
   More Explain Annotate
 </p>
<p>
  <%= check_box_tag "body[stems_random_order]",true, true %> Stems in random order
</p>
<p>
  <%= radio_button_tag "body[choices_random_order]",'random', true %> Choices in random order
</p>
<p>
  <%= radio_button_tag "body[choices_random_order]",'alphabet', false %> Choices in alphabetical order
</p>
<p>
  <%= check_box_tag "body[questions_random_order]",true, true %> Questions in random order
</p>



