<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type, :selected => "Multiple Answer")  %>
  Point <%= text_field_tag "body[point]",@question.body[:point], :style => "width: 30px" %>
  <%= check_box_tag "body[for_each_item]", true,false %>
  For each item
</p>

<p>
  Question (Include directions, like "You may select more than one.")
  </br>
  <%= text_area_tag "body[question]",@question.body[:question] %>
</p>

<p>
  <span>Choice </span>  <span> Correct</span> <button id="add_multiple_answer" type="button" class="btn">Add</button>
</p>
<div id="answer">
  <% @question.body[:answer].each_with_index do |answer,index| %>
      <p>
        <%= text_field_tag "body[answer][][text]"  ,answer %>
        <%= check_box_tag "body[answer][][correct]",index,( @question.body[:correct].nil? ? false : (@question.body[:correct].include?(index))) %>
        <button id="del_answer" type="button" class="btn">Del</button>
      </p>
  <% end %>
 </div>

<p>
  <%= check_box_tag "body[choices_random_order]",true, true %> Choices in random order
</p>
<p>
  <%= check_box_tag "body[questions_random_order]",true, true %> Questions in random order
</p>



