<p>
  <%= select_tag 'body[question_type]',options_for_select(Question.select_question_type, :selected => "Sorting")  %>
  Points<%= text_field_tag "body[point]",@question.body[:point] , :style => "width: 30px" %>

</p>

<p>
  Question/Directions
  </br>
  <%= text_area_tag "body[question]",@question.body[:question] %>
</p>

<p>
  <span>Correct order </span>   <button id="add_sorting" type="button" class="btn">Add</button>
</p>
<div id="answer">
  <% @question.body[:answer].each_with_index do |answer,index| %>
      <p>
        <%= text_field_tag "body[answer][]", answer%>

        <button id="del_answer" type="button" class="btn">Del</button>
      </p>
  <% end %>
</div>
 <p>
   More Explain Annotate
 </p>

<p>
  <%= check_box_tag "body[questions_random_order]",true, (@question.body[:questions_random_order] == 'true') %> Questions in random order
</p>



