<h1>Questions	</h1>

<table >
  <tr style="text-align: left;">
    <th style="width: 15%;">User</th>
    <th style="width: 40%;">Question</th>
    <th style="width: 15%;">Question Type</th>
    <th style="width: 5%;">Draft</th>
    <th style="width: 5%;"></th>
    <th style="width: 5%;"></th>
    <th style="width: 5%;"></th>
  </tr>

<% @questions.each do |question| %>
  <tr style="text-align: left;">
    <td><%= question.user.email %></td>
    <td style="padding-left: 10px;"><%= question.body[:question] %></td>
    <td><%= question.body[:question_type] %></td>
    <td><%= check_box_tag "question[draft]",true,(question.draft == 'true') %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) + '?choice=' + question.body[:question_type].gsub(/[ ]/, '_').downcase %></td>

    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>

<div id="listing-questions">
  <div class="top b-green">

      <span>#1</span>

  </div>
  
  <div class="bottom">
    <span> Multiple choices</span>
  </div>
</div>
                                                                      