<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

  <b><%= @question.name  %></b>
  </br>
  <b><%=  @question.body[:question] %></b>
  </br>

  <% if @question.body[:question_type] == 'Multiple Choice' %>
      <% if @question.body[:partial].present? %>
        <% @question.body[:index].shuffle.each do |i| %>
            <%= radio_button_tag 'body[points]', @question.body[:points][i.to_i], false  %>  <%= @question.body[:answer][i.to_i] %>
            </br>
        <% end %>
        <p> Point :<%= @question.body[:points].nil? ? @question.body[:point] : @question.body[:points] %>  </p>

    <% else %>
        <% @question.body[:index].shuffle.each do |i| %>
            <%= radio_button_tag 'body[correct]', i.to_i, @question.body[:correct] == i.to_i ? true:false  %>  <%= @question.body[:answer][i.to_i] %>
            </br>
        <% end %>
        <p> Correct index :<%= @question.body[:correct] %></p>
    <% end %>
  <% end %>

  <% if @question.body[:question_type] == 'Multiple Answer' %>
    <% if @question.body[:for_each_item].present? %>
        <% @question.body[:index].shuffle.each do |i| %>
            <%= check_box_tag 'body[correct]', i.to_i, @question.body[:correct].include?(i.to_i)  %>  <%= @question.body[:answer][i.to_i] %>
            </br>
        <% end %>
        <p> Point :<%= @question.body[:points].nil? ? @question.body[:point] : @question.body[:points] %>  </p>
        <p> Correct index :<%= @question.body[:correct] %></p>
    <% else %>

        <% @question.body[:index].shuffle.each do |i| %>
            <%= check_box_tag 'body[points]',  "0",false  %>  <%= @question.body[:answer][i.to_i] %>
            </br>
        <% end %>
    <% end %>
    <p> Point :<%= @question.body[:points].nil? ? @question.body[:point] : @question.body[:points] %>  </p>
    <p> Correct index :<%= @question.body[:correct] %></p>
  <% end %>

  <% if @question.body[:question_type] == 'True/False' %>
    <p>
      <%=  radio_button_tag "question[bodies][options][value]",true,@question.body[:answer] == 'true' ? true:false %>  True - the whole statement is true
    </p>
    <p>
      <%=  radio_button_tag "question[bodies][options][value]",false, @question.body[:answer] == 'false' ? true:false %> False - the whole statement is false
    </p>
  <% end %>
  <% if @question.body[:question_type] == 'Matching' %>
    <% arr = [] %>
    <% @question.body[:stems].shuffle.each_with_index do |answer,i| -%>
        <p>

          <% arr.push([answer.values[0].to_s , @question.body[:choice][i].values[0].to_s]) %>
          <%= text_field_tag "body[answer][][stems]",answer.values,:id =>"body_answer__stems" ,:readonly => "readonly"%>
          <%= text_field_tag "body[answer][][choice]",@question.body[:choice][i].values,:id =>"body_answer__choice"  ,:readonly => "readonly"%>
        </p>
    <% end %>
    <p> Correct matching :<%= arr %></p>
  <% end %>
  <% if @question.body[:question_type] == 'Sorting' %>
    <%  arr = [] %>
    <% @question.body[:answer].shuffle.each_with_index do |answer,i| -%>
        <p>
          <% arr.push(answer.values[0]) %>
          <%= text_field_tag "body[answer][]",answer.values[0],:id => "body_answer_",:readonly => "readonly" %>
        </p>
    <% end %>
    <p> Correct sorting :<%= arr %></p>
  <% end %>
  <% if @question.body[:question_type] == 'Short Answer' %>
    <p> Correct answer :<%= @question.body[:answer] %></p>
  <% end %>
  <% if @question.body[:question_type] == 'Long Answer' %>

    <p> Correct answer :<%= @question.body[:answer] %></p>
  <% end %>

<p>
  <b>Draft:</b>
  <%= @question.draft %>
</p>


<%= link_to 'Edit', edit_question_path(@question) + '?choice=' + @question.body[:question_type].gsub(/[ ]/, '_').downcase     %> |
<%= link_to 'Back', questions_path %>
