<script type="text/javascript">
    function readURL(input) {
        var el = $('.show_logo')
        el.html('')
        $('#preview_image').show()

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_logo').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<div style="width: 400px;" >
<%= form_for @institution,:html => { :class => 'form_institution', :id=>"institution_new",:multipart => true  } do |f| %>


  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :logo %>
    <div class="show_logo">
      <img title="" src="<%= @institution.logo %>" style="width: 70px;height: 70px;">
    </div>
    <div id="preview_image" class="hide" style="width: 150px;">
      <img id="preview_logo" src="#" style="width: 80px; height: 80px;  margin-left: 40px;"/>
    </div>
    <input type='file' name="institution[logo]" onchange="readURL(this);" />
    <%= f.label :street %>
    <%= f.text_field :street %>
    <%= f.label :street2 %>
    <%= f.text_field :street2 %>
    <%= f.label :country %>
    <%= select_tag 'country_id', options_for_select(Country.select_countries, :selected => Country.find_by_name("United States").id ), :class => "chzn-select", :name=> "institution[country_id]" %>
    <div class="control-group string optional">
      <label class="string optional control-label" for="institution_street2">City</label>
      <div class="controls">
        <input id="city_id"  type="hidden" name = "institution[city_id]"/>
        <input id="city_autocomplete" class="city-id autocomplete" autocomplete="off" type="text" />
      </div>
    </div>
    <%= f.label :state_id %>
    <%= f.text_field :state_id %>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => "60x12" %>
  </div>


  <div class="form-actions">
    <%= f.submit  %>
  </div>

<% end %>

</div>
