<h1>Listing institutions</h1>
<div class="div-head">
  <a href="/institutions/new"><button class="stdbtn" style="opacity: 1;">New</button></a>
  <a href="#" id="btn-delete"><button class="stdbtn" style="opacity: 1;">Delete</button></a>
</div>
<div class="table-content">
  <table id="list_institution" class="stdtable table-list-content">
    <thead>
    <tr>
      <th><span class="checkbox"> <input class="checkall" type="checkbox"/></span></th>
      <th>Name</th>
      <th>Logo</th>
      <th>Street</th>
      <th>Street2</th>
      <th>Country</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Comment</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @institutions.each do |institution| %>
        <tr id="institution_<%=institution.id %>" >
          <td><span class="checkbox"><input  type="checkbox"/></span></td>
          <td><%= link_to institution.name, edit_institution_path(institution) %></td>
          <td><img src="<%= institution.logo %>" style="width: 70px;height: 70px;"></td>
          <td><%= institution.street %></td>
          <td><%= institution.street2 %></td>
          <td><%= institution.country_id %></td>
          <td><%= institution.city_id %></td>
          <td><%= institution.state_id %></td>
          <td><%= institution.postal_code %></td>
          <td><%= institution.comment %></td>
          <td><%= link_to 'Show', institution %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/>


