<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Logo:</b>
    <img title="" src="<%= @institution.logo %>" style="width: 70px;height: 70px;">
</p>

<p>
  <b>Street:</b>
  <%= @institution.street %>
</p>

<p>
  <b>Street2:</b>
  <%= @institution.street2 %>
</p>
<p>
  <b>Country:</b>
  <%= @institution.country_id %>
</p>
<p>
  <b>City:</b>
  <%= @institution.city_id %>
</p>

<p>
  <b>State:</b>
  <%= @institution.state_id %>
</p>

<p>
  <b>Postal code:</b>
  <%= @institution.postal_code %>
</p>

<p>
  <b>Comment:</b>
  <%= @institution.comment %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
