<%= simple_form_for( question , :remote => true, :url => '/gradings/answers', :method => 'post') do |f| %>
    <%=  hidden_field_tag "id",id %>
    <p> #<%= question.body[:question_type] %></p>
    <p><%= question.body[:question] %></p>
    <% if question.body[:question_type] == "Multiple Choice"  %>
        <% if question.body[:partial].present? %>
            <% question.body[:index].shuffle.each do |i| %>
                <%= radio_button_tag 'body[points]', question.body[:points][i.to_i], body.nil? ? false : (body[:correct] == i.to_i)  %>  <%= question.body[:answer][i.to_i] %>
                </br>
            <% end %>

        <% else %>
            <% question.body[:index].shuffle.each do |i| %>
                <%= radio_button_tag 'body[correct]', i.to_i, body.nil? ? false : (body[:correct] == i.to_i) %>  <%= question.body[:answer][i.to_i] %>
                </br>
            <% end %>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "Multiple Answer"  %>
        <% question.body[:index].shuffle.each do |i| %>
            <%= check_box_tag 'body[correct][]', i.to_i, body.nil? ? false : (body[:correct].include?(i.to_i))  %>  <%= question.body[:answer][i.to_i] %>
            </br>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "Matching"  %>
        <div class="clearfix" id="<%= 'sortable_'  + question.id.to_s %>">

              <% if body.nil? %>
                  <ul style="float: left; max-width: 200px; margin-right: 8px;">
                    <% question.body[:stems].shuffle.each_with_index do |stems,i| -%>
                        <li>
                          <%= stems.values[0] %>
                          <%= hidden_field_tag "body[stems][]", stems.keys[0] %>
                        </li>
                    <% end %>
                  </ul>
                  <ul id="<%= question.id %>" class="sortable" style="float: left; min-width: 200px;">
                    <% question.body[:choice].shuffle.each_with_index do |choice,i| -%>
                        <li class="ui-state-default" data="<%= choice.keys[0] %>" ><%= choice.values[0] %></li>
                    <% end %>
                  </ul>
              <% else %>
              <ul style="float: left; max-width: 200px; margin-right: 8px;">
                <% body[:stems].each do |i| -%>
                    <li>
                      <% question.body[:stems].each do |stems| %>
                         <%= stems.values[0] if stems.keys[0].to_i == i.to_i %>
                      <% end %>
                      <%= hidden_field_tag "body[stems][]", i %>
                    </li>
                <% end %>
              </ul>
              <ul id="<%= question.id %>" class="sortable" style="float: left; min-width: 200px;">
                <% body[:choice].each do |i| -%>
                    <li class="ui-state-default" data="<%= i %>" >
                      <% question.body[:choice].each do |choice| %>
                          <%= choice.values[0] if choice.keys[0].to_i == i.to_i %>
                      <% end %>

                    </li>
                <% end %>
              </ul>
              <% end %>

          <%= hidden_field_tag "body[choice]", body.nil? ? nil : body[:correct].map {|x| x.split('-')[1]}.join('-/-'),:id => 'body_choice' %>
        </div>

    <% end %>

    <% if question.body[:question_type] == "Sorting"  %>
        <div class="clearfix" id="<%= 'sortable_'  + question.id.to_s %>">
          <ul id="<%= question.id %>" class="sortable" style="float: left; min-width: 200px;">
            <% if body.nil? %>
                <% question.body[:answer].shuffle.each_with_index do |answer,i| -%>
                    <li class="ui-state-default" data="<%= answer.keys[0] %>" >
                      <%= answer.values[0] %>
                      <%= hidden_field_tag "body[answer][]", answer.keys[0] %>
                    </li>
                <% end %>
            <% else %>
                <% body[:answer].each do |i| -%>
                    <li class="ui-state-default" data="<%= i %>" >
                        <% question.body[:answer].shuffle.each do |answer| -%>
                          <%= answer.values[0] if answer.keys[0].to_i == i.to_i %>
                        <% end %>
                        <%= hidden_field_tag "body[answer][]", i %>
                    </li>
                <% end %>
            <% end %>

          </ul>
          <%= hidden_field_tag "body[choice]", body.nil? ? nil : body[:answer].join('-/-'),:id => 'body_choice' %>

        </div>
    <% end %>

    <% if question.body[:question_type] == "True/False"  %>
        <p>
          <%=  radio_button_tag "body[answer]", true ,body.nil? ? false : (body[:answer] == 'true') %>  True - the whole statement is true
        </p>
        <p>
          <%=  radio_button_tag "body[answer]", false , body.nil? ? false : (body[:answer]== 'false') %> False - the whole statement is false
        </p>
    <% end %>
    <% if question.body[:question_type] == "Long Answer"  %>
        <p>
          <%= text_area_tag "body[answer_text]",body.nil? ? nil : body[:answer]  %>
        </p>
    <% end %>
    <% if question.body[:question_type] == "Short Answer"  %>
        <p>
          <%= text_area_tag "body[answer_text]",body.nil? ? nil : body[:answer] ,{:maxlength => 100} %>
        </p>
    <% end %>
    <p>
      <%= f.submit 'save', :class => 'btn' %>
    </p>

<% end %>