<%= simple_form_for( question , :remote => true, :url => '/gradings/answers', :method => 'post') do |f| %>
    <%=  hidden_field_tag "id",id %>
    <p> #<%= question.body[:question_type] %></p>
    <p><%= index %>/ <%= question.body[:question] %></p>
    <% if question.body[:question_type] == "Multiple Choice"  %>
        <% if question.body[:partial].present? %>
            <% question.body[:index].each do |i| %>
                <%= radio_button_tag 'body[points]', question.body[:points][i.to_i], body.nil? ? false : (body[:correct] == i.to_i) ,:disabled=>"true" %>  <%= question.body[:answer][i.to_i] %>
                </br>
            <% end %>

        <% else %>
            <% question.body[:index].shuffle.each do |i| %>
                <%= radio_button_tag 'body[correct]', i.to_i, body.nil? ? false : (body[:correct] == i.to_i) ,:disabled=>"true" %>  <%= question.body[:answer][i.to_i] %>
                </br>
            <% end %>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "Multiple Answer"  %>
        <% question.body[:index].each do |i| %>
            <%= check_box_tag 'body[correct][]', i.to_i, body.nil? ? false : (body[:correct].include?(i.to_i)),:disabled=>"true"  %>  <%= question.body[:answer][i.to_i] %>
            </br>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "Matching"  %>
        <% if body.present? %>
            <ul style="float: left; max-width: 200px; margin-right: 8px;">
              <% body[:stems].each do |i| -%>
                  <li>
                    <% question.body[:stems].each do |stems| %>
                        <%= stems.values[0] if stems.keys[0].to_i == i.to_i %>
                    <% end %>

                  </li>
              <% end %>
            </ul>
            <ul style="float: left; min-width: 200px;">
              <% body[:choice].each do |i| -%>
                  <li class="ui-state-default"  >
                    <% question.body[:choice].each do |choice| %>
                        <%= choice.values[0] if choice.keys[0].to_i == i.to_i %>
                    <% end %>

                  </li>
              <% end %>
            </ul>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "Sorting"  %>
        <% if body.present? %>
            <ul style="float: left; min-width: 200px;">
            <% body[:answer].each do |i| -%>
                <li class="ui-state-default" >
                  <% question.body[:answer].shuffle.each do |answer| -%>
                      <%= answer.values[0] if answer.keys[0].to_i == i.to_i %>
                  <% end %>

                </li>
            <% end %>
                </ul>
        <% end %>
    <% end %>

    <% if question.body[:question_type] == "True/False"  %>
        <p>
          <%=  radio_button_tag "body[answer]", true ,body.nil? ? false : (body[:answer] == 'true'),:disabled=>"true" %>  True - the whole statement is true
        </p>
        <p>
          <%=  radio_button_tag "body[answer]", false , body.nil? ? false : (body[:answer]== 'false'),:disabled=>"true" %> False - the whole statement is false
        </p>
    <% end %>
    <% if question.body[:question_type] == "Long Answer"  %>
        <p>
          <%= text_area_tag "body[answer]",body.nil? ? '' :body[:answer], :readonly => "readonly" %>
        </p>
    <% end %>
    <% if question.body[:question_type] == "Short Answer"  %>
        <p>
          <%= text_area_tag "body[answer]" ,body.nil? ? '' :body[:answer],:readonly => "readonly" %>
        </p>
    <% end %>
<% end %>