<% if current_user.has_role? :student %>
<table class="question-list table-content stdtable table-list-content">
  <thead>
  <th style="width: 10%;">#</th>
  <th>Assignment</th>

  </thead>
  <tbody>


  <% @gradings.each_with_index do |grading, index| %>
      <tr id="question_<%= grading.id %>" class="question-content" >
        <td> <%= index %> </td>
        <td><%= link_to grading.assignment.present? ? grading.assignment.name : "",grading_path(grading)   %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
    <% if current_user.has_role? :teacher or  current_user.has_role? :parent %>
        <table class="question-list table-content stdtable table-list-content">
      <thead>
      <th style="width: 10%;">#</th>
      <th>Assignment</th>
      <th style="width: 25%;">Student</th>
      </thead>
      <tbody>
      <% @gradings.each_with_index do |grading, index| %>
          <tr id="question_<%= grading.id %>" class="question-content" >
            <td> <%= index %> </td>
            <td><%= link_to grading.assignment.name,grading_path(grading) + "?student_id=" + grading.user.id.to_s %></td>
            <td> <%= grading.user.email %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
<% end %>