<p><span id="alert_warming" class="flash-alert hide"></span> </p>
<p><%= @grading.assignment.name %></p>
<% if current_user.has_role? :student %>
    <p>Mark<input class="mark-grading" readonly="readonly" value="<%= @score %>"/></p>
<table class="question-list table-content stdtable table-list-content">
  <thead>
  <th style="width: 10%;">Number</th>
  <th>Question</th>

  </thead>
  <tbody>


  <% @question_list.each_with_index do |question, index| %>
      <tr id="question_<%= question[0].id %>" class="question-content" >
        <td> <%= index + 1 %> </td>
        <td>
          <%= render :partial => 'question', :locals => {:question => question[0], :id => question[1],:body => question[2]}  %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
    <% if current_user.has_role? :teacher or current_user.has_role? :parent %>
        <p> Student: <span style=" font-weight: bold; margin-right: 50px;"> <%= @grading.user.email %></span>
          Score
          <!--<% if @grading.grade_system_id.present? %>-->
            <!--<%= select_tag 'grading_system', options_for_select(GradeSystem.select_grading_systems ,:selected => @grading.grade_system_id ), :class => "chzn-select" %>-->
          <!--<% else %>-->
            <!--<%= select_tag 'grading_system', options_for_select(GradeSystem.select_grading_systems  ), :include_blank => "", :class => "chzn-select" %>-->
          <!--<% end %>-->

          <input id="grading_point" class="input-medium grading-point" type="text" value="<%= @grading.point %>" readonly />
          <input id="grading_id" type="hidden" value="<%= @grading.id %>"/>
          <input id="save_score"  class="save-grading-system" type="button" value="Save Score"/>
        </p>
        <table class="question-list table-content stdtable table-list-content">
          <thead>
          <th style="width: 10%;">Score</th>
          <th>Question</th>

          </thead>
          <tbody id="question_list">
          <% @question_list.each_with_index do |question, index| %>
              <tr id="question_<%= question[0].id %>" class="question-content" >
                <td id="point_grading_detail_<%= index + 1 %>">
                  <% if question[2].nil? %>
                      <input id="point_<%= question[1] %>" type="text" class="input-medium question-point" value="0.0" >
                      <input id="point_hidden" type="hidden"  value="0.0" >
                  <% else %>
                      <input id="point_<%= question[1] %>" type="text" class="input-medium question-point" value="<%= question[3].present? ? question[3].to_f: '' %>" >
                      <input id="point_hidden" type="hidden"  value="<%= question[3].present? ? question[3].to_f: '' %>" >
                  <% end %>
                </td>
                <td>
                  <%= render :partial => 'question_result', :locals => {:question => question[0], :id => question[1],:body => question[2], :index => index + 1 }  %>
                </td>

              </tr>
          <% end %>
          </tbody>
        </table>

      <div class="comment-grading">
        <label class="label-comment" >Comments</label>
        <%= render :partial =>'comments/form', :locals => { :comment => @new_comment,  :id => params[:id].to_i, :object_type => "Grading"  }%>
        <div id="list_comment">
          <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment    , :organization => @organization %>

        </div>
      </div>
    <% end %>
<% end %>

