<h1>Listing healths</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @healths.each do |health| %>
  <tr>
    <td><%= health.name %></td>
    <td><%= health.comment %></td>
    <td><%= link_to 'Show', health %></td>
    <td><%= link_to 'Edit', edit_health_path(health) %></td>
    <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Health', new_health_path %>
