<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @health.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @health.comment %>
</p>


<%= link_to 'Edit', edit_health_path(@health) %> |
<%= link_to 'Back', healths_path %>
