<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @phone.user_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @phone.phone %>
</p>

<p>
  <b>Phonetype:</b>
  <%= @phone.phonetype_id %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
