 </br>
<%= simple_form_for(@content,:html=> {}) do |f| %>
    <%= f.error_notification %>
    <script language="javascript" type="text/javascript">
        tinyMCE.init({
        });
         function load_tag(){
             $.ajax({
                 type: "GET",
                 url: "/contents/load_tags",
                 dataType: "json",
                 data:{ id: $("#content_id").val()},
                 success: function(data){
                     $.each(data, function (index, value) {
                     $('#textarea').textext()[0].tags().addTags([ value ]);
                    })
                 }
             });
         }
         window.onload= load_tag ;
     </script>

    <div class="form-inputs">
      <% if params[:action] == "edit" %>
        <input id="content_id" type="hidden" value=" <%= @content.id %>">
      <%end%>
      <div class="controls" style="margin-bottom: 10px;">
        <textarea id="textarea" class="example" rows="1" name="content[tag_list]" style="width: 220px;"> </textarea>
      </div>
      <div class="controls">
        <input type="text" id="tagname" placeholder="tag name" />
        <button id="addtag" class="btn" style="vertical-align: top;">Add Tag</button>
      </div>


      <label>Parent</label>
      <%= select_tag "content[parent_id]",options_for_select(Content.content_parents),:include_blank => true %>
      <%= f.input :name %>
      <label>Body</label>
      <%= text_area_tag "content[body]",@content.body,:class => "tinymce", :rows => 40, :cols => 120 ,:style => "width: 100%" %>

      <%= check_box_tag 'content[draft]',1, @content.draft %>
    </div>
    <%= tinymce %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
<script type="text/javascript">
    $('#textarea').textext({ plugins: 'tags' });

    $('#addtag').bind('click', function(e)
    {
        $('#textarea').textext()[0].tags().addTags([ $('#tagname').val() ]);
        $('#tagname').val('');
        e.preventDefault();
    });
</script>

<div class="clearfix"></div>
