<h1>Content</h1>

<form method="get" id="searchform" action="#" class="form-search">
  <input type="text"  id="key_tag_search"/>
  <button type="button" id="search_content" class="btn"> Search</button>
</form>
<% Content.tag_counts_on(:tags).order(:name).each do |tag| %>
    <%= link_to tag.name, '?tag='+ tag.name,:class => 'btn' %>
<% end %>
<div id="content-list">
<table>
  <tr>
    <th style="width: 85%; text-align: left;">Name</th>
    <th style="width: 5%; text-align: center;">Draft</th>
    <th style="width: 5%; text-align: center;"></th>
    <th style="width: 5%; text-align: center;"></th>
    <th></th>
  </tr>

  <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td style="text-align: center;"><%= check_box_tag 'content[draft]',1, content.draft %></td>
         <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        </tr>
    <% end %>
  </table>
</div>

<br />

<%= link_to 'New Content', new_content_path %>
