<h1>New content</h1>
<div class="row">
  <div style="float: left; width: 60%; display:inline-block;">
    <%= render 'form' %>
  </div>
  <div style="float: left; width: 40%;display: inline-block;">
    <%= render 'photos' %>
  </div>
</div>

<%= link_to 'Back', contents_path %>
