<p id="notice"><%= notice %></p>
  <p>
    <%= @content.tag_list %>
  </p>
 <p>
  <%= @content.name %>
</p>
  <%= @content.body.html_safe %>
<p>
  <b>Draft:</b>
  <%= check_box_tag 'content[draft]',1,@content.draft %>

</p>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
