
<table>
  <tr>
    <th style="width: 85%; text-align: left;">Name Tag</th>
    <th style="width: 5%; text-align: center;"></th>
    <th style="width: 5%; text-align: center;"></th>
    <th></th>
  </tr>

  <% @content_tags.each do |tag| %>
      <tr id="row_<%=tag.id %>">
        <td><%= link_to tag.name, '?tag='+ tag.name,:class => 'btn' %></td>
        <td><a href="#modal_edit" id="edit_tag" data-toggle="modal" >Edit</a>
          <input id="tag_id" type="hidden" value="<%= tag.id %>"/>
          <input id="tag_name" type="hidden" value="<%= tag.name %>"/>
        </td>
        <td><%= link_to 'Delete', {:action => "remove_tag", :tag_id => tag.id,
                                   :controller => "contents"} %></td>


      </tr>
  <% end %>
</table>

<table>
  <tr>
    <th style="width: 85%; text-align: left;">Name</th>
    <th style="width: 5%; text-align: center;">Draft</th>
    <th style="width: 5%; text-align: center;"></th>
    <th style="width: 5%; text-align: center;"></th>
    <th></th>
  </tr>

  <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td style="text-align: center;"><%= check_box_tag 'content[draft]',1, content.draft %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>

      </tr>
  <% end %>
</table>
<div id="modal_edit" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="width: 350px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Edit tag</h3>
  </div>
  <div class="modal-body">
    <p>Tag name</p>
    <input type="hidden" id="tag_id_edit" name="tag_id" >
    <input type="text" id="name_tag" name="name_tag">
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <button id="Edit_button" type="button" class="btn btn-primary">Ok</button>
  </div>
</div>
