<h1>Listing school_grades</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_grades.each do |school_grade| %>
  <tr>
    <td><%= school_grade.name %></td>
    <td><%= link_to 'Show', school_grade %></td>
    <td><%= link_to 'Edit', edit_school_grade_path(school_grade) %></td>
    <td><%= link_to 'Destroy', school_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New School grade', new_school_grade_path %>
