
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Choice student</h3>
  </div>
  <div class="form-search" style="width: 500px; margin-left: 20px; ">

    <input type="text"  id="key_search_student"/>
    <a type="button"  class="btn  search_student"> <%= t('common.button_search') %></a>
    <a type="button" class="btn close-search-question"> <%= t('common.button_close_search') %></a>
  </div>
  <div class= "no-result hide" style="color: #f08080;margin-left: 20px;" >No result found</div>
  <div class="student-list-result hide">
     <table class="student-search-result table-content stdtable table-list-content">
       <thead>
       <th><input type="checkbox" class="checkall"></th>
       <th>name</th>
       <th>email</th>
       </thead>
       <tbody class="student-content">

       </tbody>
     </table>
  </div>
  <div class="modal-body">
    <%= f.input :id, :as => :hidden %>
    <%= f.input :user_ids, :collection => @students, :as => :check_boxes, :label_method => lambda {|t| t.email}, :label => false, :item_wrapper_class => 'aleft' %>
  </div>
  <div class="modal-footer">
    <a class="btn btn-add-student" data-dismiss="modal" href="#">Close</a>
  </div>
  <%= will_paginate @students %>

