<%= simple_form_for(@assignment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :assignment_library_id , :collection => AssignmentLibrary.select("id,name"), :prompt => "Choose a Library", :label_method=>:name ,:value_method => :id  %> <a href="<%= new_assignment_library_path %>" class="btn btn-mini" type="button">Create Assignment Library</a> <a href="<%= new_question_path %>" class="btn btn-mini" type="button">Create Question</a>
      <%= f.input :grade_system_id , :collection => GradeSystem.select("id,name"), :prompt => "Choose a Grade system", :label_method=>:name ,:value_method => :id  %>
      <div class="controls">
        <a data-toggle="modal" href="#user-options" class="btn btn-mini" type="button">Choice student</a>
      </div>
      <div id="user-options" class="modal" style="display: none;">
      <%= render  :partial => 'form_assignment_users',:locals => {:f =>  f } %>
      </div>
      <%= f.button :submit %>
    </div>
<% end %>