<p> Name: <%= @assignment.name %> </p>
<p> Description: <%= @assignment.description%> </p>
<p> Assignment library: <%= @assignment.assignment_library.present? ? @assignment.assignment_library.name : '' %> </p>
<p> Grade system: <%= @assignment.grade_system.name unless @assignment.grade_system.nil?  %> </p>
<p> Students:
  <% @assignment.users.each do |user| %>
    [<%= user.email %>] -
  <% end %>
</p>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>