<% if current_user.has_role? :student %>
    <div style="width: 500px;">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
          <%= f.label :first %>
          <%= f.text_field :first %>

          <%= f.label :middle %>
          <%= f.text_field :middle %>

          <%= f.label :last %>
          <%= f.text_field :last %>

          <%= f.label :password %>
          <%= f.text_field :password, :value => nil %>

          <%= f.label :password_confirmation %>
          <%= f.text_field :password_confirmation, :value => nil %>

          <%= f.label :current_password %>
          <%= f.text_field :current_password %>

          <%= f.submit 'Save', :class => 'btn' %>
          <%= Rails.env.test? ? '' : devise_error_messages! %>

      <% end %>
    </div>
    <div  style="width: 940px;">
      <label>Additional Emergency Contacts</label>
      <div class="additional_emergency_contacts_content">
        <table class="additional_emergency_contacts_list stdtable">
          <thead>
          <tr>
            <th class="head" style="width: 20%;">Name</th>
            <th class="head"  style="width: 20%;">Address</th>
            <th class="head"  style="width: 15%;">Phone</th>
            <th class="head"   style="width: 19.9%;">Email</th>
            <th class="head"  style="width: 13%;">Education</th>
            <th class="head"  style="width: 12%;"></th>

          </tr>
          </thead>
          <tbody class="additional-emergency-contacts-row">
              <% @additional_emergency_contacts_list.each do |emergency_contact| %>
                  <tr id="additional_emergency_contacts_<%= emergency_contact.id %>">
                    <td class="name"><%= emergency_contact.name %></td>
                    <td class="address"><%= emergency_contact.address %></td>
                    <td class="phone"><%= emergency_contact.phone %></td>
                    <td class="email"><%= emergency_contact.email %></td>
                    <td class="educations">
                      <a data-toggle="modal" href="#education-options-<%= emergency_contact.id %>" class="btn btn-mini" type="button">Education</a>
                      <%= render  :partial => 'devise/shared/form_educations_emergency_contact',:locals => {:emergency_contact =>  emergency_contact } %></td>
                    <td> <span class="edit edit-additional-emergency-contacts">Edit</span> <span class="delete delete-additional-emergency-contacts" >Delete</span></td>

                  </tr>
              <% end %>
              <tr id="new_emergency_contact" style="display: none;">
                 <td colspan = "7">
                   <%= simple_form_for(@emergency_contact, :url => '/users/add_emergency_contact',:remote => true, :method => :post, :html => {:class => 'form-horizontal',:multipart => true  }) do |f| %>
                       <div style="width: 19.7%; float: left; border: 1px solid #cccccc;">
                         <%= f.input_field :name, :class => "additional_emergency_contacts_name" %>
                       </div>
                       <div style="width: 19.8%; float: left;border: 1px solid #cccccc;">
                         <%= f.input_field  :address, :class => "additional_emergency_contacts_address"  %>
                       </div>
                       <div style="width: 14.8%; float: left; border: 1px solid #cccccc;">
                         <%= f.input_field  :phone, :class => "additional_emergency_contacts_phone"  %>
                       </div>
                       <div style="width: 19.9%; float: left; border: 1px solid #cccccc;">
                         <%= f.input_field  :email, :class => "additional_emergency_contacts_email"  %>
                       </div>
                       <div style="width: 12.5%; float: left;">
                         <a data-toggle="modal" href="#educationModal" class="btn btn-mini" type="button">Education</a>
                         <div id="educationModal"  class="modal hide fade" saria-hidden="true">
                           <div class="modal-header">
                             <a class="close" data-dismiss="modal">×</a>
                             <h3>Education</h3>
                           </div>
                           <div class="modal-body">
                             <%= f.association :educations, :as => :check_boxes %>
                             <%#= f.association :educations,:collection => Education.all.collect{ |p| [p.name, p.id] }, :as => :check_boxes%>
                           </div>
                           <div class="modal-footer">
                             <a class="btn" data-dismiss="modal" aria-hidden="true"> Close </a>
                           </div>
                         </div>
                       </div>
                       <div style="width: 12%; float: left;">
                         <%= f.submit "Save", :class => "btn save-emergency-contact", :id => 'save-emergency-contact'  %>
                         <input class="btn cancel-emergency-contact"  type="button" value="Cancel"/>
                       </div>


                   <% end %>
                 </td>
              </tr>
          </tbody>
         </table>
      </div>
      <button type="button" id="btn_new_additional_emergency_contacts" class="btn"> <%= t('user.new_emergency_contact') %></button>

      <label>What's your child race?</label>
      <div class="race-list" >
        <div class="race_content_form">
          <% @race_list.each do |race,index| %>
              <% a = '(' + race.comment.to_s + ')' if race.comment.present?%>

              <div id="race_<%= race.id %>" class="race-content" >
                <label>
                  <% if(@races_ids.include?(race.id)) %>
                      <input type="checkbox" autocomplete="off" checked="checked" >
                  <% else %>
                      <input type="checkbox" autocomplete="off" >
                  <% end %>
                  <%= race.name %>(<%= race.code %>)
                  <span style="font-style: italic; font-size: 12px;"><%= a %></span>
                </label>
              </div>

          <% end %>
        </div>
        <div><input class="save-race" type="button" value ='<%= t('race.save_race')%>'/><i class="icon-spinner"></i></div>

      </div>
      <label> Residence</label>
      <div class="residence">

        <div class="residence-list">
          <% @residence.each_with_index do |residence, index| %>
              <% a ='(' + residence.code.to_s + ')' if residence.code.present? %>
              <% if(index % 2 == 0) %>
                  <div id="residence_<%= residence.id %>" class="residence_content width-big">
                    <label>
                      <input type="radio" name="radio">
                      <%=  residence.name %>
                      <span><%= a %></span></label></div>
              <% else %>
                  <div id="residence_<%= residence.id %>" class="residence_content">
                    <label>
                      <input class="radio-residence" type="radio" name="radio">
                      <%=  residence.name %>
                      <span><%= a %></span></label></div>
              <% end %>
          <% end %>
        </div>
        <input class="save-residence" type="button" value ='<%= t('residence.save_residence')%>'/>
      </div>

      <a data-toggle="modal" href="#health-options-<%= resource.id %>" class="btn" type="button" style="margin: 8px 0px;">Change Healths</a>
      <%= render  :partial => 'devise/shared/form_user_healths',:locals => {:user =>  resource } %>

      <div class="foot-content" style="width: 500px;">
        <h5>Cancel my account</h5>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %>
          .</p>
        <%= link_to "Back", :back %>
      </div>
    </div>
<% else %>
    <div class="register">
      <div class="row">
        <div class="span6">
          <h2>Edit profile</h2>

        </div>
        <div class="span6">
          <div class="formy">
            <h5>Edit Profile</h5>

            <div class="form">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'}) do |f| %>
                  <!-- UserName -->
                  <div class="control-group">
                    <label class="control-label" for="name">UserName</label>

                    <div class="controls">
                      <%= f.text_field :name %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="name">Email</label>

                    <div class="controls">
                      <%= f.text_field :email %>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="name"> Password</label>

                    <div class="controls">
                      <%= f.password_field :password %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="name">Password Confirmation</label>

                    <div class="controls">
                      <%= f.password_field :password_confirmation %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="name">Current Password</label>

                    <div class="controls">
                      <%= f.text_field :current_password %>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn">Save</button>
                  </div>
                  <%= devise_error_messages! %>
              <% end %>
              <h5>Cancel my account</h5>

              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %>
                .</p>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>



