<h1>Listing game_assets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_assets.each do |game_asset| %>
  <tr>
    <td><%= game_asset.name %></td>
    <td><%= game_asset.price %></td>
    <td><%= game_asset.description %></td>
    <td><%= game_asset.image_url %></td>
    <td><%= link_to 'Show', game_asset %></td>
    <td><%= link_to 'Edit', edit_game_asset_path(game_asset) %></td>
    <td><%= link_to 'Destroy', game_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game asset', new_game_asset_path %>
