<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game_asset.name %>
</p>

<p>
  <b>Price:</b>
  <%= @game_asset.price %>
</p>

<p>
  <b>Description:</b>
  <%= @game_asset.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @game_asset.image_url %>
</p>


<%= link_to 'Edit', edit_game_asset_path(@game_asset) %> |
<%= link_to 'Back', game_assets_path %>
