<div id='comment-form'>
  <%= simple_form_for([ Comment.new], :method => 'post', :remote => true ) do |f| %>

      <%= f.error_notification %>

      <div class="form-inputs">

        <%=f.input :body, :input_html => { :rows => "2" }, :label => false  %>
        <%=f.hidden_field :commentable_id, :value => id.to_i %>
        <%=f.hidden_field :commentable_type, :value => object_type %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, :id=>"submit_comment", :class => "btn btn-primary", :disable_with => "Submitting…" %>
      </div>

  <% end %>
</div>
