<p id="notice"><%= notice %></p>

<p>
  <b>Concept:</b>
  <%= @element.concept_id %>
</p>

<p>
  <b>Name:</b>
  <%= @element.name %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
