<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <!-- UserName -->
  <div class="control-group">
    <label class="control-label" for="name">UserName</label>
    <div class="controls">
      <%= f.text_field :name,:class => "input-large",:autofocus => true %>
    </div>
  </div>
  <!-- Email -->
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <%= f.text_field :email, :class => "input-large" %>
    </div>
  </div>
  <!-- Password -->
  <div class="control-group">
    <label class="control-label" for="email">Password</label>
    <div class="controls">
      <%= f.password_field :password,:class => "input-large" %>
    </div>
  </div>
    <!-- Password -->
    <div class="control-group">
      <label class="control-label" for="email">Re Password</label>
      <div class="controls">
        <%= f.password_field :password_confirmation, :required => true,:class => "input-large" %>
      </div>
    </div>

  <!-- Buttons -->
  <div class="form-actions">
    <!-- Buttons -->

    <button type="submit"  class="btn">Register</button>
    <button type="reset" class="btn">Reset</button>
  </div>
 Already have an Account? <%=  link_to 'Login',new_user_session_path %>
 <% end %>