<div id="health-options-<%= user.id %>" class="modal " style="display: none; width: 700px;">
  <%= simple_form_for user, :url => '/users/change_healths',:remote => true, :method => :put, :html => {:class => '' } do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Change Healths</h3>
      </div>
      <div class="modal-body">
        <%= f.input :id, :as => :hidden %>

        <%= f.input :health_ids, :collection => Health.all, :as => :check_boxes, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'aleft left width-45' %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Change Health", :class => "btn" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
  <% end %>
</div>