<div id="education-options-<%= emergency_contact.id %>" class="modal" style="display: none;">
  <%= simple_form_for emergency_contact, :url => '/educations/change_emergency_contacts',:remote => true, :method => :put, :html => {:class => 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Change Education</h3>
      </div>
      <div class="modal-body">
        <%= f.input :id, :as => :hidden %>

        <%= f.input :education_ids, :collection => Education.all, :as => :check_boxes, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'aleft' %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Change Education", :class => "btn" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
  <% end %>
</div>