<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
  <!-- Username -->
  <div><%= devise_error_messages! %></div>

  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <%= f.text_field :email, :autofocus => true,:class => "input-large" %>
    </div>
  </div>
  <!-- Password -->
  <div class="control-group">
    <label class="control-label" for="email">Password</label>
    <div class="controls">
      <%= f.password_field :password,:class => "input-large" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %> Remember me
      </label>
    </div>
  </div>
  <!-- Buttons -->
  <div class="form-actions">
    <!-- Buttons -->
    <button type="submit" class="btn">Login</button>
    <button type="reset" class="btn">Reset</button>
  </div>
<% end %>
Don't have Account? <%= link_to 'Register', new_user_registration_path %>