    <tr id="additional_emergency_contacts_<%= emergency_contact.id %>">
      <td class="name">
        <%= emergency_contact.name %>
      </td>
      <td class="address">
        <%= emergency_contact.address %>
      </td>
      <td class="phone">
        <%=   emergency_contact.phone %>
      </td>
      <td class="email">
        <%=   emergency_contact.email %>
      </td>
      <td class="educations">
        <a data-toggle="modal" href="#education-options-<%= emergency_contact.id %>" class="btn btn-mini" type="button">Education</a>
        <%= render  :partial => 'devise/shared/form_educations_emergency_contact',:locals => {:emergency_contact =>  emergency_contact } %>
      </td>
      <td>
        <span class="edit edit-additional-emergency-contacts">Edit</span> <span class="delete delete-additional-emergency-contacts" >Delete</span>
      </td>
    </tr>

