<%= simple_form_for(@hall_of_fame) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
   	 <%= text_area_tag "hall_of_fame[description]",@hall_of_fame.description,:class => "tinymce", :rows => 40, :cols => 120 ,:style => "width: 800px" %>
    <%= f.input :amount %>
    <%= f.input :reason %>
    <%= f.input :owner %>
  </div>
<%= tinymce %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script language="javascript" type="text/javascript">
       tinyMCE.init({
       });

