<h1>The Hall of Fame</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Reason</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hall_of_fames.each do |hall_of_fame| %>
  <tr>
    <td><h3><%= hall_of_fame.name %> say:</h3></td>
    <td><h3>"<%= hall_of_fame.reason %>"</h3></td>
    <td><%= hall_of_fame.owner %></td>
    <td><%= link_to 'Show', hall_of_fame %></td>
    <td><%= link_to 'Edit', edit_hall_of_fame_path(hall_of_fame) %></td>
    <td><%= link_to 'Destroy', hall_of_fame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member of the Hall of fame', new_hall_of_fame_path %>
