<p id="notice"><%= notice %></p>

<p>
  
<h1>  <%= @hall_of_fame.name %> </h1>
</p>
<hr />
<p>
  <b>About:</b>
  <%= raw(@hall_of_fame.description) %>
</p>

<p>
  <b>Reason:</b>
  <%= @hall_of_fame.reason %>
</p>




<%= link_to 'Edit', edit_hall_of_fame_path(@hall_of_fame) %> |
<%= link_to 'Back', hall_of_fames_path %>
