<script type="text/javascript">
    function readURL(input) {
        var el = $('.show_logo')
        el.html('')
        $('#preview_image').show()

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_logo').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<%= form_for (@uploader), :html => { :class => 'form_uploader', :multipart => true  } do |f| %>

 <div class="form_content" style="width: 400px;">
  <div class="form-inputs">
    <div id="preview_image" class="hide" style="width: 150px;">
      <img id="preview_logo" src="#" style="width: 80px; height: 80px;  margin-left: 40px;"/>
    </div>
    <input type='file' name="uploader[filename]" onchange="readURL(this);" />
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
 </div>
<% end %>
