<p id="notice"><%= notice %></p>

<p>

<div id="preview_image" class="images-show" style="width: 150px;">
  <img id="preview_logo" src="<%= @uploader.url %>" style="width: 80px; height: 80px;  margin-left: 40px;"/>
</div>

</p>

<p>
  <b>Description:</b>
  <%= @uploader.description %>
</p>


<%= link_to 'Edit', edit_uploader_path(@uploader) %> |
<%= link_to 'Back', uploaders_path %>
