<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @race.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @race.comment %>
</p>

<p>
  <b>Code:</b>
  <%= @race.code %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
