<% if current_user.has_role? :admin or current_user.has_role? :teacher %>
    <div id="advance-invitation">
      <div id="advance-invitation-error"></div>
      <div id="advance-invitation-success"></div>
        <%= render 'shared/form_advanced_invitation' %>
    </div>
<% else %>
    <div class="label-notification">
      <label style="color: green; font-size: 20px;">You have not permissions to get this function.</label>
    </div>
<% end %>