<% if @user_contact.errors.count == 0  %>
  $('#advance-invitation-error').hide()
 $('#advance-invitation-success').html('<%= escape_javascript(render :partial => "shared/success_message", :locals => { :success => "Success !" }, :formats => [:html]) %>');
<% else %>
    $('#advance-invitation-error').html('<%= escape_javascript(render :partial => "shared/error_messages", :locals => { :errors => @user_contact.errors.full_messages }, :formats => [:html]) %>');
<% end %>

