<div id="yw8"></div>
<div id="breadcrumbs">
  <ul class="breadcrumbs breadcrumb">
    <li><a href="../../../index.html">Home</a><span class="divider">/</span></li>
    <li><a href="../../index.html">Users</a><span class="divider">/</span></li>
    <li class="active">Preferences</li>
  </ul>
  <!-- breadcrumbs -->
</div>

<div class="aqua-container">


  <div class="span4">
    <div class="aqua-panel">
      <div class="aqua-panel-header">
        <i class="modernpics icons32">r</i><span class="panel-divider"></span>

        <h2>User John Doe<span></span></h2>

        <div class="aqua-panel-tabs-icons pull-right">
          <a href="#" class="minimize">--</a>
          <a href="#" class="modernpics maximize">v</a>
        </div>
      </div>
      <div class="aqua-panel-content">
        <div class="inpanel tabs-above" id="yw1">
          <ul id="yw2" class="nav nav-tabs">
            <li><a data-toggle="tab" href="#yw1_tab_1"><span class="modernpics">=</span></a></li>
            <li class="active"><a data-toggle="tab" href="#yw1_tab_2"><span class="modernpics">(</span></a></li>
          </ul>
          <div class="tab-content">
            <div id="yw1_tab_1" class="tab-pane fade"><h3>Profile informations</h3>
              <table class="detail-view table table-striped table-condensed" id="yw0">
                <tr class="odd">
                  <th>ID</th>
                  <td>1</td>
                </tr>
                <tr class="even">
                  <th>Username</th>
                  <td>John Doe</td>
                </tr>
                <tr class="odd">
                  <th>Password</th>
                  <td>safsafasf</td>
                </tr>
                <tr class="even">
                  <th>Email</th>
                  <td>john.doe@mail.com</td>
                </tr>
                <tr class="odd">
                  <th>Create Time</th>
                  <td></td>
                </tr>
                <tr class="even">
                  <th>Last Visit</th>
                  <td></td>
                </tr>
                <tr class="odd">
                  <th>Status</th>
                  <td>1</td>
                </tr>
              </table>
            </div>
            <div id="yw1_tab_2" class="tab-pane fade active in"><h3>Edit profile</h3>


              <form class="form-vertical" id="user-form" action="#" method="post">
                <p class="help-block">Fields with <span class="required">*</span> are required.</p>

                <div class="alert alert-block alert-error" id="user-form_es_" style="display:none">
                  <p>Please fix the following input errors:</p>
                  <ul>
                    <li>dummy</li>
                  </ul>
                </div>
                <label for="User_username" class="required">Username
                  <span class="required">*</span></label><input class="span4" name="User[username]" id="User_username" type="text" value="John Doe"/><span class="help-block error" id="User_username_em_" style="display: none"></span>
                <label for="User_password">Password</label><input class="span4" name="User[password]" id="User_password" type="password" maxlength="40" value="safsafasf"/><span class="help-block error" id="User_password_em_" style="display: none"></span>
                <label for="User_email" class="required">Email
                  <span class="required">*</span></label><input class="span4" name="User[email]" id="User_email" type="text" value="john.doe@mail.com"/><span class="help-block error" id="User_email_em_" style="display: none"></span>
                <label for="User_create_time">Create
                  Time</label><input class="span4" name="User[create_time]" id="User_create_time" type="text" value=""/><span class="help-block error" id="User_create_time_em_" style="display: none"></span>
                <label for="User_last_visit">Last
                  Visit</label><input class="span4" name="User[last_visit]" id="User_last_visit" type="text" value=""/><span class="help-block error" id="User_last_visit_em_" style="display: none"></span>
                <label for="User_status_id">Status</label><input class="span4" name="User[status_id]" id="User_status_id" type="text" value="1"/><span class="help-block error" id="User_status_id_em_" style="display: none"></span>

                <div class="form-actions">
                  <button class="btn btn-primary btn-large" type="submit" name="yt0">Save</button>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="span3">
    <div class="aqua-panel">
      <div class="aqua-panel-header">
        <i class="modernpics icons32">=</i><span class="panel-divider"></span>

        <h2>User John Doe<span></span></h2>

        <div class="aqua-panel-tabs-icons pull-right">
          <a href="#" class="minimize">--</a>
          <a href="#" class="modernpics maximize">v</a>
        </div>
      </div>
      <div class="aqua-panel-content">
        <h3>Profile informations</h3>
        <table class="detail-view table table-striped table-condensed" id="yw3">
          <tr class="odd">
            <th>ID</th>
            <td>1</td>
          </tr>
          <tr class="even">
            <th>Username</th>
            <td>John Doe</td>
          </tr>
          <tr class="odd">
            <th>Password</th>
            <td>safsafasf</td>
          </tr>
          <tr class="even">
            <th>Email</th>
            <td>john.doe@mail.com</td>
          </tr>
          <tr class="odd">
            <th>Create Time</th>
            <td></td>
          </tr>
          <tr class="even">
            <th>Last Visit</th>
            <td></td>
          </tr>
          <tr class="odd">
            <th>Status</th>
            <td>1</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


</div>
<div class="clear"></div>






<script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function ($) {
        jQuery('a[rel="tooltip"]').tooltip();
        jQuery('a[rel="popover"]').popover();
        $('#user-form').yiiactiveform({'attributes':[
            {'id':'User_username', 'inputID':'User_username', 'errorID':'User_username_em_', 'model':'User', 'name':'User[username]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1, 'clientValidation':function (value, messages, attribute) {

                if ($.trim(value) == '') {
                    messages.push("Username cannot be blank.");
                }

            }},
            {'id':'User_password', 'inputID':'User_password', 'errorID':'User_password_em_', 'model':'User', 'name':'User[password]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1, 'clientValidation':function (value, messages, attribute) {

                if ($.trim(value) != '') {

                    if (value.length < 6) {
                        messages.push("Password is too short (minimum is 6 characters).");
                    }

                    if (value.length > 40) {
                        messages.push("Password is too long (maximum is 40 characters).");
                    }

                }

            }},
            {'id':'User_email', 'inputID':'User_email', 'errorID':'User_email_em_', 'model':'User', 'name':'User[email]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1, 'clientValidation':function (value, messages, attribute) {

                if ($.trim(value) == '') {
                    messages.push("Email cannot be blank.");
                }


                if ($.trim(value) != '' && !value.match(/^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/)) {
                    messages.push("Email is not a valid email address.");
                }

            }},
            {'id':'User_create_time', 'inputID':'User_create_time', 'errorID':'User_create_time_em_', 'model':'User', 'name':'User[create_time]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1},
            {'id':'User_last_visit', 'inputID':'User_last_visit', 'errorID':'User_last_visit_em_', 'model':'User', 'name':'User[last_visit]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1},
            {'id':'User_status_id', 'inputID':'User_status_id', 'errorID':'User_status_id_em_', 'model':'User', 'name':'User[status_id]', 'enableAjaxValidation':false, 'inputContainer':'div.control-group', 'status':1, 'clientValidation':function (value, messages, attribute) {

                if ($.trim(value) != '') {

                    if (!value.match(/^\s*[+-]?\d+\s*$/)) {
                        messages.push("Status must be an integer.");
                    }

                }

            }}
        ], 'summaryID':'user-form_es_'});
        jQuery('#yw1').tab('show');
        jQuery('#yw8 .alert').alert();
        guiders.createGuider({'id':'1', 'buttons':[
            {'name':'Next'}
        ], 'description':'This is sample Guide tour. You can use it to teach new users, show some new functions etc.', 'overlay':true, 'autoFocus':true, 'title':'Welcome', 'xButton':true, 'next':'2'});
        guiders.createGuider({'id':'2', 'buttons':[
            {'name':'Previous', 'onclick':function () {
                guiders.prev();
            }},
            {'name':'Next', 'onclick':function () {
                guiders.next();
            }},
            {'name':'Exit', 'onclick':function () {
                guiders.hideAll();
            }}
        ], 'attachTo':'.aqua-well-mini-green', 'description':'\r\n<strong>\r\n    You can add notify Icons in header in 3 different colors: \r\n<\/strong>\r\n<ul>\r\n    <li>Red (aqua-well-mini-red),<\/li>\r\n    <li>Green (aqua-well-mini-green),<\/li>\r\n    <li>Blue (aqua-well-mini-blue),<\/li>\r\n<\/ul>\r\n\r\n<div class=\"clear\"><br/><\/div>\r\n<div class=\"aqua-header-shortcuts\">\r\n    <div style=\"background: #0b242f; padding: 10px; text-align: center;\">\r\n        <div class=\"btn-group\">\r\n            <a class=\"aqua-well-mini-blue text-align-center\" href=\"#\" data-toggle=\"dropdown\">\r\n                <span class=\"modernpics icons-white icons48 newline\">f<\/span>\r\n                <span class=\"label label-info\">Click me!<\/span>\r\n            <\/a>\r\n            <div class=\"dropdown-menu quick-info\">\r\n                <table class=\"info-dropdown\">\r\n                    <tbody><tr><td class=\"aqua-avatar-quick-list\" rowspan=\"4\"> <\/td><\/tr>\r\n                        <tr><td><a href=\"#\">John Doe <span class=\"modernpics icons16\">=<\/span><\/a><\/td><\/tr>\r\n                        <tr><td>2/9/2012 10:15 <span class=\"modernpics icons16\">}<\/span><\/td><\/tr>\r\n                        <tr><td>john.doe@mail.com <span class=\"modernpics icons16\">@<\/span><\/td><\/tr>\r\n                    <\/tbody><\/table>\r\n                <table class=\"info-dropdown\">\r\n                    <tbody><tr><td class=\"aqua-avatar-quick-list\" rowspan=\"4\">  <\/td><\/tr>\r\n                        <tr><td><a href=\"#\">John Doe <span class=\"modernpics icons16\">=<\/span><\/a><\/td><\/tr>\r\n                        <tr><td>2/9/2012 10:15 <span class=\"modernpics icons16\">}<\/span><\/td><\/tr>\r\n                        <tr><td>john.doe@mail.com <span class=\"modernpics icons16\">@<\/span><\/td><\/tr>\r\n                    <\/tbody><\/table>\r\n                <table class=\"info-dropdown\">\r\n                    <tbody><tr><td class=\"aqua-avatar-quick-list\" rowspan=\"4\">  <\/td><\/tr>\r\n                        <tr><td><a href=\"#\">John Doe <span class=\"modernpics icons16\">=<\/span><\/a><\/td><\/tr>\r\n                        <tr><td>2/9/2012 10:15 <span class=\"modernpics icons16\">}<\/span><\/td><\/tr>\r\n                        <tr><td>john.doe@mail.com <span class=\"modernpics icons16\">@<\/span><\/td><\/tr>\r\n                    <\/tbody><\/table>\r\n                <table class=\"info-dropdown\">\r\n                    <tbody><tr><td class=\"aqua-avatar-quick-list\" rowspan=\"4\">  <\/td><\/tr>\r\n                        <tr><td><a href=\"#\">John Doe <span class=\"modernpics icons16\">=<\/span><\/a><\/td><\/tr>\r\n                        <tr><td>2/9/2012 10:15 <span class=\"modernpics icons16\">}<\/span><\/td><\/tr>\r\n                        <tr><td>john.doe@mail.com <span class=\"modernpics icons16\">@<\/span><\/td><\/tr>\r\n                    <\/tbody><\/table>\r\n\r\n            <\/div>\r\n        <\/div>\r\n\r\n        <a class=\"aqua-well-mini-red text-align-center\" href=\"#\">\r\n            <span class=\"modernpics icons-white newline\">m<\/span>\r\n            <span class=\"label label-important\">3 messages<\/span>\r\n        <\/a>\r\n        <a class=\"aqua-well-mini-green text-align-center\" href=\"#\">\r\n            <span class=\"modernpics icons-white newline\">b<\/span>\r\n            <span class=\"label label-success\">10 comments<\/span>\r\n        <\/a>\r\n\r\n    <\/div>\r\n<\/div>\r\n<div class=\"clear\"><\/div>\r\n', 'overlay':true, 'position':5, 'autoFocus':true, 'title':'Notify Icons in header', 'width':'600px', 'xButton':true, 'next':'3'});
        $('pre').addClass('prettyprint');
        prettyPrint();
        guiders.createGuider({'id':'3', 'buttons':[
            {'name':'Previous', 'onclick':function () {
                guiders.prev();
            }},
            {'name':'Next', 'onclick':function () {
                guiders.next();
            }},
            {'name':'Exit', 'onclick':function () {
                guiders.hideAll();
            }}
        ], 'attachTo':'.aqua-slogan', 'description':'Guides can easly stick to ID or Class of css elements.<div style=\"height: 120px; overflow: auto;\">\r\n  <pre>\n                 \r\nguiders.createGuider({\r\n    &#039;id&#039;:&#039;3&#039;,\r\n    &#039;buttons&#039;:[\r\n        {\r\n            &#039;name&#039;:&#039;Previous&#039;,\r\n            &#039;onclick&#039;:function(){guiders.prev();}\r\n        },\r\n        {\r\n            &#039;name&#039;:&#039;Next&#039;,\r\n            &#039;onclick&#039;:function(){guiders.next();}\r\n        },\r\n        {\r\n            &#039;name&#039;:&#039;Exit&#039;,\r\n            &#039;onclick&#039;:function(){guiders.hideAll();}\r\n        }\r\n    ],\r\n    &#039;attachTo&#039;:&#039;.aqua-slogan&#039;, // JQuery css selector of element\r\n    &#039;description&#039;:&#039;Example content&#039;,\r\n    &#039;overlay&#039;:true,\r\n    &#039;position&#039;:6, // 1-12 follows an analog clock, 0 means centered.\r\n    &#039;autoFocus&#039;:true, // Automatically scroll page to active guide\r\n    &#039;title&#039;:&#039;Example title&#039;,\r\n    &#039;xButton&#039;:true,\r\n    &#039;next&#039;:&#039;4&#039; // Next Guide Id\r\n});   \r\n\r\n<\/pre><\/div>', 'overlay':true, 'position':7, 'autoFocus':true, 'title':'You can place it anywhere', 'width':600, 'xButton':true, 'next':'4'});
        guiders.createGuider({'id':'4', 'buttons':[
            {'name':'Previous', 'onclick':function () {
                guiders.prev();
            }},
            {'name':'Next', 'onclick':function () {
                guiders.next();
            }},
            {'name':'Exit', 'onclick':function () {
                guiders.hideAll();
            }}
        ], 'attachTo':'#aqua-footer', 'description':'Scroll page to active guide.', 'overlay':true, 'position':6, 'autoFocus':true, 'title':'Scroll to active guide', 'xButton':true, 'next':'5'});
        guiders.createGuider({'id':'5', 'buttons':[
            {'name':'Previous', 'onclick':function () {
                guiders.prev();
            }},
            {'name':'Exit', 'onclick':function () {
                guiders.hideAll();
            }}
        ], 'description':'You can read more about using Guiders in project page: <div class=\"label label-info\">https://github.com/jeff-optimizely/Guiders-JS<\/div>', 'overlay':true, 'autoFocus':true, 'title':'Read more...', 'xButton':true});


        $(".aqua-panel-tabs-icons .minimize").click(function () {
            $(this).parents(".aqua-panel").children(".aqua-panel-content").slideToggle("fast");
            return false;
        });

        $(".aqua-panel-tabs-icons .maximize").click(function () {
            var panel = $(this).parents(".aqua-panel");
            if ($(panel).hasClass("fullscreen")) {
                $(panel).removeClass("fullscreen");
                $(panel).children(".aqua-panel-content").css("height", "auto");
                $(panel).children(".aqua-panel-content").css("width", "auto");
                $(panel).children(".aqua-panel-content").css("overflow", "inherit");
                $("body").css("overflow-y", "auto");
            }
            else {
                var w = window, d = document, e = d.documentElement, g = d.getElementsByTagName("body")[0], x = w.innerWidth || e.clientWidth || g.clientWidth, y = w.innerHeight || e.clientHeight || g.clientHeight;
                $(panel).addClass("fullscreen");
                $(panel).children(".aqua-panel-content").slideDown("fast");
                $(panel).children(".aqua-panel-content").css("height", y - 60);
                $(panel).children(".aqua-panel-content").css("overflow-y", "scroll");
                $("body").css("overflow-y", "hidden");
                $(panel).children(".aqua-panel-content").css("width", x - 20);
            }
            return false;
        });


    });
    /*]]>*/
</script>