<div class="register">
  <div class="row">
    <div class="span6">
      <h2></h2>
      <p></p>

    </div>

    <div class="span6">
      <div class="formy">
        <h5>Reset password</h5>
        <div class="form">
          <!-- Register form (not working)-->
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:class => "form-horizontal" }) do |f| %>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <%= f.email_field :email,:class => "input-large" %>
                </div>
              </div>

              <!-- Buttons -->
              <div class="form-actions">
                <!-- Buttons -->
                <button type="submit" class="btn">Reset password</button>

              </div>

            <%= devise_error_messages! %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="border"></div>

<!-- Product & links starts -->

<div class="prod">
  <div class="row">
    <div class="span4">
      <div class="home-links">
        <div class="col-l">
          <h5>Downloads</h5>
          <ul>
            <li><a href="#">Linux 8</a></li>
            <li><a href="#">PlayStation</a></li>
            <li><a href="#">GTalk</a></li>
            <li><a href="#">Google Search</a></li>
            <li><a href="#">Linux Phone</a></li>
          </ul>
        </div>
        <div class="col-r">
          <h5>Support</h5>
          <ul>
            <li><a href="#">Linux Update</a></li>
            <li><a href="#">PlayStation</a></li>
            <li><a href="#">GTalk</a></li>
            <li><a href="#">Google Search</a></li>
            <li><a href="#">Linux Phone</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="span8">
      <div class="home-product">
        <div class="home-prod-img" id="s1">
          <img src="/assets/img/photos/s1.jpg" />
          <img src="/assets/img/photos/s2.jpg" />
          <img src="/assets/img/photos/s3.jpg" />
        </div>
        <h3>Canonical Linux 8</h3>
        <p>Aliquam ut feugiat ante. Curabitur justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam ut feugiat ante. Curabitur justo aliquam. Aliquam ut feugiat ante. Curabitur justo aliquam. </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- Product & links ends -->




