<p id="notice"><%= notice %></p>

<p>
  <b>Name short:</b>
  <%= @state.name_short %>
</p>

<p>
  <b>Name:</b>
  <%= @state.name %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
