<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="widgets">
        <div class="span4">
          <div class="fwidget">
            <h5>Pages</h5>
            <ul>
              <li><a href="/contents">Curriculum</a></li>
              <li><a href="/sponsors/new">Become a sponsor</a></li>

            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>Support</h5>
            <ul>

            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>New content</h5>
            <ul>
              <li><a href="#">Coming soon</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="span12">
          <div class="copy">
            <h5>Curriculum for <span class="color">All</span></h5>
            <p>Copyright &copy; <a href="#">Curriculum for All, Inc.</a> - <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Disclaimer</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>