   <% @students.each do |student| %>

    <tr id="question_<%= student.id %>">
      <td><input  type="checkbox"/></td>
      <td class="name">
        <%= student.name %>
      </td>
      <td class="body">
        <%= student.email %>
      </td>

    </tr>

   <% end %>
