<tr>
  <td><input class="string required" id="user_additional_emergency_contact_name" name='user[additional_emergency_contact][<%= i.to_s %>][name]' size="50" type="text" /></td>
  <td><input class="string optional" id="user_additional_emergency_contact_address" name='user[additional_emergency_contact][<%= i.to_s %>][address]' size="50" type="text" /></td>
  <td><input class="string tel required" id="user_additional_emergency_contact_phone" name= 'user[additional_emergency_contact][<%= i.to_s %>][phone]' size="50" type="text" /></td>
  <td><input class="string email required" id="user_additional_emergency_contact_email" name='user[additional_emergency_contact][<%= i.to_s %>][email]' size="50" type="text" validate="{:presence=&gt;true, :uniqueness=&gt;false}" /></td>
  <td>
    <a data-toggle="modal" href="#educationModal<%= i.to_s %>" class="btn btn-mini" type="button">Education</a>
    <div id="educationModal<%= i.to_s %>"  class="modal hide fade" saria-hidden="true">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
      </div>
      <div class="modal-body">
        <div class="control-group check_boxes optional">
          <label class="check_boxes optional control-label">Educations</label>
          <div class="controls">
            <% Education.all.each do |education,index| %>
            <label class="checkbox">
              <input id="user_emergency_contace_education_<%= education.id %>" type="checkbox" autocomplete="off"  name="user[additional_emergency_contact][<%= i.to_s %>][education_ids][]" value="<%= education.id %>" >
              <%= education.name %>(<%= education.code %>)
            </label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true"> Close </a>
      </div>
    </div>
  </td>
</tr>