   <% @questions.each do |question| %>

    <tr id="question_<%= question.id %>">
      <td><input  type="checkbox"/></td>
      <td class="name">
        <%= question.name %>
      </td>
      <td class="body">
        <%= question.body.first %>
      </td>

    </tr>

   <% end %>
