<h2> Advanced invitation</h2>

<%= simple_form_for @user_contact, :url => '/users/create_advanced_invitation',:remote => true, :method => :post, :html => {:class => 'form-horizontal' }  do |f| %>
   <div class="form-advanced-invitation" style="width: 750px;">
     <div class="error-message">
       <label class="message-text" style="color: red;"></label>
     </div>
     <label class="string optional control-label" style="width: 100%;  text-align: left;" >Student Info </label>

    <div class="content-form">
      <%= f.input :first %>
      <%= f.input :middle %>
      <%= f.input :last %>
      <%= f.input :email,required: true %>
    </div>
    <label class="string optional control-label" style="width: 90%;  text-align: left;" >Parent Info </label>
     <div class="additional_emergency_contacts_content" style="width: 100%;">
       <table class="additional_emergency_contacts_list stdtable">
         <thead>
         <tr>
           <th style="width: 20%;">Name</th>
           <th style="width: 20%;">Address</th>
           <th style="width: 15%;">Phone</th>
           <th style="width: 20%;">Email</th>
           <th style="width: 13%;">Education</th>

         </tr>
         </thead>
         <tbody class="additional-emergency-contacts-row">
         <tr>
           <%= f.simple_fields_for @emergency_contact do |d| %>
           <td><%= d.input_field :name, :name => 'user[additional_emergency_contact][0][name]' %></td>
           <td><%= d.input_field :address, :name => 'user[additional_emergency_contact][0][address]' %></td>
           <td><%= d.input_field :phone, :name => 'user[additional_emergency_contact][0][phone]' %></td>
           <td><%= d.input_field :email, :validate => { :presence => true, :uniqueness => false }, :name => 'user[additional_emergency_contact][0][email]' %></td>
           <td>
             <a data-toggle="modal" href="#educationModal" class="btn btn-mini" type="button">Education</a>
             <div id="educationModal"  class="modal hide fade" saria-hidden="true">
               <div class="modal-header">
                 <a class="close" data-dismiss="modal">×</a>
               </div>
               <div class="modal-body">
                 <div class="control-group check_boxes optional">
                   <label class="check_boxes optional control-label">Educations</label>
                   <div class="controls">
                       <% Education.all.each do |education| %>
                         <label class="checkbox">
                           <input id="user_emergency_contace_education_<%= education.id %>" type="checkbox" autocomplete="off"  name="user[additional_emergency_contact][0][education_ids][]" value="<%= education.id %>" />
                           <%= education.name %>(<%= education.code %>)
                         </label>
                       <% end %>
                   </div>
                 </div>
                 <%#= d.association :educations,   as: :check_boxes %>
                 <%#= d.input :education_ids, :collection => Education.all, :as => :check_boxes, :label_method => lambda {|t| t.name.titleize}, :label => false,wrapper_html: { name: 'user[additional_emergency_contact][education_ids][]' } %>
                 <%#= d.association :educations, :name=>"user[additional_emergency_contact][0][education_ids][]",  as: :check_boxes %>
               </div>
               <div class="modal-footer">
                 <a class="btn" data-dismiss="modal" aria-hidden="true"> Close </a>
               </div>
             </div>
           </td>
           <% end %>
         </tr>

         </tbody>
       </table>

       </div>
     <input class="btn addmore" type="button" value="add more parent info" >
       <div class="race-list box-advance-invitation box-border" >
         <div class="content_form">
         <%= f.association :races,   as: :check_boxes %>
         </div>
       </div>
       <div class="box-advance-invitation box-border" >
         <div class="content_form">
         <%= f.association :healths,   as: :check_boxes %>
         </div>
       </div>
       <div class="box-advance-invitation box-border" >
         <div class="content_form">
         <%= f.association :residence,   as: :radio %>
         </div>
       </div>



   </div>
<%= f.submit 'Submit invitation', :class => 'advanced_invitation btn' %><div id="loading" style="display:none;"><i class="icon-spinner icon-spin"></i>Please wait...</div>
<% end %>

<script>
  $('.addmore').live('click', function(){
      var i = $('.additional-emergency-contacts-row').find('tr').length;
      $.ajax({
          type: 'POST',
          url: '/users/add_form_emergency_contact',
          async: true,
          jsonpCallback: 'jsonCallback',
          dataType: 'text',
          data: {i: i},
          success: function(data){
              $('.additional-emergency-contacts-row').append(data)
          }
      });
  })
</script>
