<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="#"><a href="#"><%= image_tag('logo-cfa.png',:style => "width: 100px") %></a></h1>
          <div class="hmeta">Free Learning for the world</div>
        </div>
      </div>
      <div class="span6">

        <div class="form">
          <div style="text-align: right;padding-right: 15px;" class="dropdown">
            <% if current_user %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user icon-white icon-margin"></i>
                  <%= current_user.name.capitalize unless current_user.name.blank? %> <span class="caret"></span>
                </a>
                <ul id="yw3" class="dropdown-menu" style="border-top: 1px solid #DDD !important;">
                  <li><a tabindex="-1" href="<%= edit_user_registration_path %>"><i class="icon-user icon-margin"></i> My account</a></li>
                  <% if current_user.has_role? :admin or current_user.has_role? :teacher %>
                    <li><a tabindex="-1" href="<%= new_user_invitation_path %>"><i class=" icon-group icon-margin"></i> Invite</a></li>
                  <% end %>
                  <li><a tabindex="-1" href="<%= destroy_user_session_path %>" data-method="delete"><i class="icon-signout icon-margin"></i> Sign out</a></li>
                </ul>


            <% end %>
          </div>
          <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>