<!-- Navigation bar starts -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span><%= t('common.menu') %></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to t('common.home'),root_path %></li>

          <% unless  current_user.nil? ? true : (current_user.has_role? :student) %>
              <li><a href="/sponsors/new"><%= t('navbar.sponsor') %></a></li>
              <li><a href="/contents"><%= t('navbar.curriculum') %></a></li>
              <li><a href="/hall_of_fames"><%= t('navbar.hall_of_fame') %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Navigation bar ends -->