<!-- Social -->
<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Follow Us On</span> <a href="#"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="#"> <a href="#"><i class="icon-linkedin"></i>LinkedIn</a></p>
      </div>
    </div>
  </div>
</div>