<div class="content">
  <div class="container">

    <h2>Oops!!! Its 404!</h2>
    <p class="big grey">We are sorry, the page you requested cannot be found. </p>

    <hr />
    <div class="form">
      <form method="get" id="searchform" action="#" class="form-search">
        <input type="text" value="" name="s" id="s" class="input-medium"/>
        <button type="submit" class="btn">Search</button>
      </form>
    </div>

    <div class="link-list">
      <h5>Take a look around our site</h5>
      <a href="#">Home</a> <a href="#">About us</a> <a href="#">Support</a> <a href="#">Contact Us</a> <a href="#">Disclaimer</a>
    </div>

    <div class="border"></div>

    <!-- Product & links starts -->

    <div class="prod">
      <div class="row">
        <div class="span4">
          <div class="home-links">
            <div class="col-l">
              <h5>Downloads</h5>
              <ul>
                <li><a href="#">Linux 8</a></li>
                <li><a href="#">PlayStation</a></li>
                <li><a href="#">GTalk</a></li>
                <li><a href="#">Google Search</a></li>
                <li><a href="#">Linux Phone</a></li>
              </ul>
            </div>
            <div class="col-r">
              <h5>Support</h5>
              <ul>
                <li><a href="#">Linux Update</a></li>
                <li><a href="#">PlayStation</a></li>
                <li><a href="#">GTalk</a></li>
                <li><a href="#">Google Search</a></li>
                <li><a href="#">Linux Phone</a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="span8">
          <div class="home-product">
            <div class="home-prod-img" id="s1">
              <img src="/assets/img/photos/s1.jpg" />
              <img src="/assets/img/photos/s2.jpg" />
              <img src="/assets/img/photos/s3.jpg" />
            </div>
            <h3>Canonical Linux 8</h3>
            <p>Aliquam ut feugiat ante. Curabitur justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam ut feugiat ante. Curabitur justo aliquam. Aliquam ut feugiat ante. Curabitur justo aliquam. </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product & links ends -->

  </div>
</div>