

<!-- Slider starts -->
<% unless current_user %>
 <iframe src="http://player.vimeo.com/video/57503529" width="600" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<% end %>
<% unless current_user.nil? ? false : (current_user.has_role? :student) %>
    <p><%= t('home.text_curriculum') %></p>
    <hr />
<% end %>
<!-- Hero Unit -->


<!-- Hero Ends -->




<!-- Services starts -->

<div class="services">
  <div class="row">

    <div class="span12">
      <h3>Services</h3>
    </div>
    <% if current_user.has_role? :teacher %>
    <div class="span6">
      <div class="col-l">
        <div class="service">
          <div class="b-orange serv-block">
            <i class="icon-cloud"></i>
            <h3>Gradebook</h3>
          </div>
          <a href="<%= gradings_path %>"> Visit </a><i class="icon-arrow-right"></i>
        </div>
      </div>

      <div class="col-r">
        <div class="service">
          <div class="b-purple serv-block">
            <i class="icon-briefcase"></i>
            <h3>Question</h3>
          </div>
          <a href="/questions">Visit </a><i class="icon-arrow-right"></i>
        </div>
      </div> 
      <div class="clearfix"></div>
    </div>
    <% else %>
        <div class="span3">
          <div>
            <div class="service">
              <div class="b-orange serv-block">
                <i class="icon-cloud"></i>
                <h3>Gradebook</h3>
              </div>
              <a href="<%= gradings_path %>"> Visit </a><i class="icon-arrow-right"></i>
            </div>
          </div>

        </div>
    <% end %>
    <div class="span6">
      <div class="col-l">
        <div class="service">
          <div class="b-green serv-block">
            <i class="icon-camera"></i>
            <h3>Classes</h3>
          </div>
          <a href="/school_classes">Visit </a><i class="icon-arrow-right"></i>
        </div>
      </div>
      <div class="col-r">
        <div class="service">
          <div class="b-blue serv-block">
            <i class="icon-comment"></i>
            <h3>Chat</h3>
          </div>
          <a href="/chatroom">Visit </a><i class="icon-arrow-right"></i>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="span6">
      <div class="col-r">
        <div class="service">
          <div class="b-orange serv-block">
            <i class="icon-envelope-alt"></i>
            <h3>Mail</h3>
          </div>
          <a href="#">Visit</a><i class="icon-arrow-right"></i>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <% if current_user.has_role? :teacher %>
    <div class="span6">
      <div class="col-l">
        <div class="service">
          <div class="b-orange serv-block">
            <i class="icon-cloud"></i>
            <h3>Assignments</h3>
          </div>
          <a href="<%= assignments_path %>">Visit</a><i class="icon-arrow-right"></i>
        </div>
      </div>
      <div class="col-r">
         <div class="service">
           <div class="b-purple serv-block">
             <i class="icon-briefcase"></i>
             <h3>Library</h3>
           </div>
           <a href="<%= assignment_libraries_path %>">Visit</a><i class="icon-arrow-right"></i>
         </div>
          </div>
           <div class="clearfix"></div>
      </div>
    <% end %>


  </div>
</div>

<hr />

<!-- Services Ends -->





<div class="border"></div>

