<div class="page-header">
  <h1>Edit Picture</h1>
</div>
<%= form_for @picture, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <%= image_tag @picture.image.large.url, :id => 'cropbox' %>

    <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary  btn-mini' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  new_content_photo_path, :class => 'btn btn-mini' %>


    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#make_default').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '<%= make_default_content_photos_path %>',
                type: 'POST',
                data: {id : <%= @picture.id %> %>}
            });
        });
    });
</script>
