<div class="row">
  <form method="get" id="searchform" action="#" class="form-search">
    <input type="text" name="content_photo[file_name]" id="content_photo_file_name"/>
    <button type="button" id="search_file_name" class="btn"> Search</button>
  </form>
  <div id="list_photos">
      <ul class="thumbnails files">

      </ul>
  </div>
</div>
<div class="row">
  <ul class="thumbnails files">
    <% unless @pictures.empty? %>
        <% @pictures.each do |pic| %>
            <li class="span3" id="picture_<%= pic.id %>">
              <div class="thumbnail">
                <a href="<%= pic.image.url %>" rel="lightbox-pictures" title="<%= pic.description.blank? ? nil : pic.description  %>">
                  <img src="<%= pic.image.url %>" alt="" >
                </a>
                <div class="caption">
                  <p style="text-align: center;">
                    <a href="/content_photos/<%= pic.id %>/edit" class="btn btn-mini">
                      <i class="icon-edit "></i>
                      Edit
                    </a>
                    <a class="btn btn-mini btn-delete" confirm="Are you delete ?" data-method="delete" href="/content_photos/<%= pic.id %>" data-remote=true>
                      <i class="icon-trash"></i>
                      Delete
                    </a>
                  </p>
                </div>
              </div>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
