<%= subscribe_to "/messages/public" %>
<%= subscribe_to "/messages/private/#{session[:username]}" %>

<script type="text/javascript" charset="utf-8">
  PrivatePub.subscribe("/messages/public", function(data) {
    $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
  });
  
  PrivatePub.subscribe("/messages/private/<%= session[:username] %>", function(data) {
    $('<p></p>').addClass('private').html(data.username + ": " + data.msg).appendTo('#chat_room');
  });
</script>

<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room <%= session[:username] %>! </p>
  </div>
  
  <%= form_tag new_message_path, :remote => true, :style => "margin-bottom: 0" do %>
    <%= text_field_tag :message, nil, :class => 'input-medium', :style => 'margin-left: 15px;margin-top: 8px'  %>
    <%= submit_tag "Send" , :class => 'btn' %>
  <% end %>
</div>