<div class="form-new" style="width: 400px; float: left;">

  <%= simple_form_for(@sponsor) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :company, label: I18n.t('sponsor.company') %>
        <%= f.input :firstname, label: I18n.t('sponsor.first_name') %>
        <%= f.input :lastname, label: I18n.t('sponsor.last_name') %>
        <%= f.input :street, label: I18n.t('sponsor.street') %>
        <%= f.input :city_id ,:as => :hidden %>
        <div class="control-group string required">
          <label class="control-label" for="sponsor_company"> <%= I18n.t('sponsor.country') %></label>
          <div class="controls">
            <%= select_tag 'country_id', options_for_select(Country.select_countries, :selected => Country.find_by_name("United States").id ), :class => "chzn-select" %>
          </div>
        </div>
        <div>
          <label><%=t I18n.t('sponsor.city') %></label>
          <%= text_field_tag 'city_name' %>
        </div>
        <%= f.input :state, label: I18n.t('sponsor.state') %>
        <%= f.input :postalcode, label: I18n.t('sponsor.postal_code') %>
        <%= f.input :phone, label: I18n.t('sponsor.phone') %>
        <%= f.input :email, label: I18n.t('sponsor.email') %>
        <%=t I18n.t('sponsor.potential_amount') %>:
        <%= f.input :amount,label: I18n.t('sponsor.amount') %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, value: I18n.t('common.button_save')%>
      </div>
  <% end %>

</div>