<h1>Editing sponsor</h1>

<%= render 'form' %>
<div class="comment-new" style="width: 400px; float: left;">
<%= render :partial =>'comments/form', :locals => { :comment => @new_comment,  :id => params[:id].to_i  }%>
<div id="list_comment">
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment    , :organization => @organization %>

</div>
<div></div>
<%= link_to 'Show', @sponsor %> |
<%= link_to 'Back', sponsors_path %>
