<h1>Listing sponsors</h1>

<table class="table table-condensed">
  <tr>
    <th>Company</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Postalcode</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><%= sponsor.company %></td>
    <td><%= sponsor.firstname %></td>
    <td><%= sponsor.lastname %></td>
    <td><%= sponsor.street %></td>
    <td><%= sponsor.city.name %></td>
    <td><%= sponsor.state %></td>
    <td><%= sponsor.postalcode %></td>
    <td><%= sponsor.phone %></td>
    <td><%= sponsor.email %></td>
    <td><%= sponsor.amount %></td>
    <td><%= link_to 'Show', sponsor %></td>
    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsor', new_sponsor_path %>
