<h1>I am interested in becoming a sponsor</h1>
<div class="container">
	<div class="span5">
<%= render 'form' %>
<div class="footer" style="width: 600px; float: left;">
  <%= link_to 'Back', sponsors_path %>
</div>
</div>
<div class="span5">
    <ul>
	<li> <%= t('sponsor.text_sponsor1') %></li>
	<br />
	<li><%= t('sponsor.text_sponsor2') %></li>
	<br >
	<li><%= t('sponsor.text_sponsor3') %></li>
	<br />
	<li><%= t('sponsor.text_sponsor4') %></li>
  <br />
  <li> <%= t('sponsor.text_sponsor5') %><a href="#" ><%= t('sponsor.powerpoint') %></a></li>
</ul>
</div>

