<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @sponsor.company %>
</p>

<p>
  <b>Firstname:</b>
  <%= @sponsor.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @sponsor.lastname %>
</p>

<p>
  <b>Street:</b>
  <%= @sponsor.street %>
</p>

<p>
  <b>City:</b>
  <%= @sponsor.city.name %>
</p>

<p>
  <b>State:</b>
  <%= @sponsor.state %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @sponsor.postalcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @sponsor.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @sponsor.email %>
</p>

<p>
  <b>Amount:</b>
  <%= @sponsor.amount %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>

<%= render :partial =>'comments/form', :locals => { :comment => @new_comment,  :id => params[:id].to_i ,:object_type => "Sponsor" }%>
<div id="list_comment">
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment    , :organization => @organization %>

</div>
