<h1>Listing hobbies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hobbies.each do |hobby| %>
  <tr>
    <td><%= hobby.name %></td>
    <td><%= hobby.description %></td>
    <td><%= link_to 'Show', hobby %></td>
    <td><%= link_to 'Edit', edit_hobby_path(hobby) %></td>
    <td><%= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hobby', new_hobby_path %>
