<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hobby.name %>
</p>

<p>
  <b>Description:</b>
  <%= @hobby.description %>
</p>


<%= link_to 'Edit', edit_hobby_path(@hobby) %> |
<%= link_to 'Back', hobbies_path %>