<%= simple_form_for(@school_class) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <label><%= t("school_class.school_grade") %></label>
    <%= select_tag 'school_grade_id', options_for_select(SchoolGrade.select_school_grade ), :class => "chzn-select-school-grade",:name => 'school_class[school_grade_id]' %>
    <label><%= t("school_class.teacher") %></label>
    <input class="teacher_name" value="<%= @current_user.name if @current_user.present? %>" type="text" />
    <input name="school_class[teacher_id]" value="<%= @current_user.id if @current_user.present?%>" type="hidden" />

    <label><%= t("school_class.institution") %></label>
    <%= select_tag 'institution_id', options_for_select(Institution.select_institution ), :class => "chzn-select-institution" ,:name => 'school_class[institution_id]'%>
    <label><%= t('school_class.room') %></label>
    <%= select_tag 'room_id', options_for_select(Room.select_room ), :class => "chzn-select-room" ,:name => 'school_class[room_id]'%>
    <label><%= t('school_class.year') %></label>
    <div class="input-append date" id="dpYears" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
      <input class="span2" size="16" type="text" name="school_class[year]" value="<%= Time.now.year %>" readonly>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  </div>
  <% if params[:action] == "edit" %>
    <input id="id_class_edit" value="<%= @school_class.id %>" type="hidden"/>
    <label><%= t('school_class.list_student') %></label>
    <div class="no-student hide">
      <label><%= t('school_class.no_student') %></label>
    </div>
    <div class="student-list-already hide">
      <div class="div-head">
        <button type="button" id="btn-delete-student" class="btn"> <%= t('common.button_delete') %></button>
      </div>
      <table class="student-list table-content stdtable table-list-content">
        <thead>
        <tr>
          <th><span class="checkbox"> <input class="checkall" type="checkbox"/></span></th>
          <th><%= t('user.name') %></th>
          <th><%= t('user.email') %></th>
        </tr>
        </thead>
        <tbody class="class-student-list">
       <% @student_list_already.each do |s_list_a|  %>
         <tr id="student_<%= s_list_a.id %>">
           <td><input  type="checkbox"/></td>
           <td><%= s_list_a.name %></td>
           <td><%= s_list_a.email %></td>
         </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% if @student_list_already.blank?%>
        <script>
            $('.no-student').show()
        </script>
    <% else %>
        <script>
            $('.student-list-already').show()
        </script>
    <% end %>
  <div class="form-search" style="width: 300px;">
    <label><%= t('school_class.search_student') %></label>
    <input type="text"  id="key_search_student"/>
    <button type="button" id="search_student" class="btn"> <%= t('common.button_search') %></button>
  </div>
  <div class="notification_search">
    <label><%= t('school_class.search_not_found') %> </label>
  </div>
  <div class="student-list-result ">
    <div class="div-head">
      <button type="button" id="btn-add-student" class="btn"> <%= t('school_class.add_student_to_class') %></button>
    </div>
    <table class="student-list table-content stdtable table-list-content">
      <thead>
      <tr>
        <th> <input id = "checkall" class="checkall" type="checkbox"/></th>
        <th><%= t('user.name') %></th>
        <th><%= t('user.email') %></th>
      </tr>
      </thead>
      <tbody class="result-list">

      </tbody>
    </table>
  </div>

  <% end %>

  <% if params[:action] == "new" %>
      <div class="form-actions">
        <%= f.button :submit, t('school_class.create_school_class') %>
      </div>
  <% else %>
        <div class="form-actions">
          <%= f.button :submit, t('school_class.update_school_class') %>
        </div>
  <% end %>
<% end %>
