<h1>School Classes</h1>

<table>
  <tr>
    <th><%= t("school_class.school_grade") %></th>
    <th><%= t('school_class.teacher') %></th>
    <th><%= t('school_class.year') %></th>
    <th><%= t('school_class.room') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_classes.each do |school_class| %>
  <tr>
    <td><%= school_class.school_grade_id %></td>
    <td><%= school_class.teacher_id %></td>
    <td><%= school_class.year %></td>
    <td><%= school_class.room_id %></td>
    <td><%= link_to 'Show', school_class %></td>
    <td><%= link_to 'Edit', edit_school_class_path(school_class) %></td>
    <td><%= link_to 'Destroy', school_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New School class', new_school_class_path %>
