<p id="notice"><%= notice %></p>

<p>
  <b>School Grade:</b>
  <%= @school_class.school_grade_id.present? ? SchoolGrade.find_by_id(@school_class.school_grade_id).name : ''%>
</p>

<p>
  <b>Teacher:</b>
  <%= @school_class.teacher_id.present? ? User.find_by_id(@school_class.teacher_id).name : '' %>
</p>


<p>
  <b>Room:</b>
  <%= @school_class.room_id.present? ? Room.find_by_id(@school_class.room_id).name : '' %>
</p>
<p>
  <b>Year:</b>
  <%= @school_class.year %>
</p>



<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
