<div class="register">
  <div class="row">
    <div class="span6">
      <p class="big grey"></p>
	  <iframe src="http://player.vimeo.com/video/57503529" width="450" height="260" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	  <% unless current_user.nil? ? false : (current_user.has_role? :student) %>
        <p><%= t('home.text_curriculum') %></p>
      <% end %>
    </div>

    <div class="span6">
      <div class="formy">
        <h5>Login to your Account</h5>
        <div class="form">
          <!-- Login form (not working)-->
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
              <!-- Username -->
              <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                  <%= f.text_field :email, :autofocus => true,:class => "input-large"%>
                </div>
              </div>
              <!-- Password -->
              <div class="control-group">
                <label class="control-label" for="email">Password</label>
                <div class="controls">
                  <%= f.password_field :password,:class => "input-large"  %>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %> Remember me
                  </label>
                </div>
              </div>
              <!-- Buttons -->
              <div class="form-actions">
                <!-- Buttons -->
                <button type="submit" class="btn">Login</button>
                <button type="reset" class="btn">Reset</button>
              </div>

              <%= devise_error_messages! %>
              <% if flash[:notice] %>
                <%= flash[:notice]  %>
              <% end %>
              <% flash.each do |name, msg| %>
                  <%= content_tag :section, msg, :id => "flash_#{name}", :class => "flash" %>
              <% end %>

          <% end %>
          Don't have Account? <%= link_to 'Register', new_user_registration_path %>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="border"></div>


