<% if current_user.has_role? :admin or current_user.has_role? :teacher %>
<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field %>
<% end -%>

<%= f.submit t("devise.invitations.new.submit_button") %>
<% end %>

<a class="button" href="/advanced_invitation" type="button"><button>Advance invitation</button></a>
<% end %>