<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :street %>
    <%= f.input :street2 %>
    <%= f.input :city_id %>
    <%= f.input :state_id %>
    <%= f.input :postal_code %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
