<h1>Listing addresses</h1>

<table>
  <tr>
    <th>User</th>
    <th>Street</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Postal code</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.user_id %></td>
    <td><%= address.street %></td>
    <td><%= address.street2 %></td>
    <td><%= address.city_id %></td>
    <td><%= address.state_id %></td>
    <td><%= address.postal_code %></td>
    <td><%= address.comment %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
