<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :institution_id %>
    <%= f.input :descritption %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
