<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Location:</b>
  <%= @room.location %>
</p>

<p>
  <b>Institution:</b>
  <%= @room.institution_id %>
</p>

<p>
  <b>Descritption:</b>
  <%= @room.descritption %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
