<h1>Listing concepts</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concepts.each do |concept| %>
  <tr>
    <td><%= concept.subject_id %></td>
    <td><%= concept.name %></td>
    <td><%= link_to 'Show', concept %></td>
    <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
    <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concept', new_concept_path %>
