<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @concept.subject_id %>
</p>

<p>
  <b>Name:</b>
  <%= @concept.name %>
</p>


<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
