<h1>Listing grade_systems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Settings</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grade_systems.each do |grade_system| %>
  <tr>
    <td><%= grade_system.name %></td>
    <td><%= grade_system.settings %></td>
    <td><%= link_to 'Show', grade_system %></td>
    <td><%= link_to 'Edit', edit_grade_system_path(grade_system) %></td>
    <td><%= link_to 'Destroy', grade_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade system', new_grade_system_path %>
