<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grade_system.name %>
</p>

<p>
  <b>Settings:</b>
  <%= @grade_system.settings %>
</p>


<%= link_to 'Edit', edit_grade_system_path(@grade_system) %> |
<%= link_to 'Back', grade_systems_path %>
