<h1>Listing residences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @residences.each do |residence| %>
  <tr>
    <td><%= residence.name %></td>
    <td><%= residence.code %></td>
    <td><%= link_to 'Show', residence %></td>
    <td><%= link_to 'Edit', edit_residence_path(residence) %></td>
    <td><%= link_to 'Destroy', residence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Residence', new_residence_path %>
