<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @email.user_id %>
</p>

<p>
  <b>Email:</b>
  <%= @email.email %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
