<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @education.name %>
</p>

<p>
  <b>Code:</b>
  <%= @education.code %>
</p>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
