input[type="submit"].btn {
  padding: 5px 12px;
  vertical-align: middle;
  margin-top: 5px;
}
#listing-questions{

  .top{
    border: 1px solid #F1F1F1 !important;
    width: 100%;
    float: left;
    height: 20px;
    margin: 0;


    span{
      vertical-align: top;
      line-height: 18px;
      text-align: right;
      padding-right: 10px;
      float: right;
    }
  }
  .content{
    border: 1px solid #F1F1F1 !important;
    padding: 8px;
  }
  .bottom{
    border: 1px solid #CFD9DF !important;
    width: 100%;
    float: left;
    height: 20px;
    margin: 0;
    background-color: #EBF2F6;

    span{
      vertical-align: top;
      line-height: 18px;
      text-align: right;
      padding-right: 10px;
      float: right;
    }
  }
}
.list_images{
  display: inline-block;

  max-height: 830px;
  overflow: auto;
  border: 1px solid #CCCCCC;
  padding: 8px;
  width: 450px;
  padding-top: 13px;
  img{
    float: left;
    border: 1px solid #CCCCCC;
    width: 100px;
    height: 80px;
    padding: 3;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
.width50{
  width: 50%;
  float: left;
}
.width100{
  width: 100%;
  float: left;
}
.table-content{
  overflow-x: auto;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

table.table-list-content{
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
  width: 100%;
  thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      th{
        font-weight: normal;
        padding: 5px 10px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
      }
    }
  }
  tbody{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      td{
        padding: 5px 10px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
      }
    }
  }

  .checkbox >input[type="checkbox"] {
    float: left;
    margin-left: 10px;
  }

}

div.datepicker.dropdown-menu{
  width: 300px;
}


.datepicker th.switch{
  background-color: #41BB19;
}

.datepicker td span.active {
  background-color: #41BB19;
  background-image: -moz-linear-gradient(center top , #acff90, #41BB19);
}
.datepicker td span.active {
  background-color: #41BB19;
  background-image:-webkit-linear-gradient(top, #acff90, #41BB19);
}

.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
  background-color: #41BB19;
}

.additional_emergency_contacts_content{
  overflow-x: auto;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

table.additional_emergency_contacts_list{
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
  width: 100%;
  thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      th{
        font-weight: normal;
        padding: 0px;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        text-align: center;
      }
    }
  }
  tbody{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      td{
        background: #cccccc;
        padding: 0;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        text-align: center;
        input{
          margin: 0;
          padding: 0px;
        }
        input.additional_emergency_contacts_name, input.additional_emergency_contacts_address, input.additional_emergency_contacts_phone,input.additional_emergency_contacts_email{
          width: 99%;
          height: 26px;
          border-color: #cccccc;
          text-align: center;
        }

        .additional_emergency_contacts_add{
          margin-left: 5px;
        }
        span.edit, span.delete{
          margin-left: 10px;
          color: green;
          &:hover{
            color: #32cd32;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .option{
    display: inline-block;
  }


}

.race_content_form{
  margin-left: 50px;

}
.race-content{
  width: 290px;
  float: left;
  margin-right: 30px;
  span{
    vertical-align: top;
    display: inline-block;
    line-height: 12px;
  }
}
.race-list{
  width: 700px;
  overflow-x: auto;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}.box-border{
  width: 100%;
  overflow-x: auto;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}
.save-race{
  margin-left: 40%;
}

.aleft{
  text-align: left;
  vertical-align: middle;
  line-height: 12px;
}


.residence{
  width: 700px;
  overflow-x: auto;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}
.residence_content{
  width: auto;
  float: left;
  margin-right: 15px;
}
.residence-list{
  margin-left: 50px;

}
.width-big{
  width: 380px;
}
.save-residence{
  margin-left: 39%;
}
.left{
  float: left;

}
.width-45{
  width: 45%;
  display: inline-block;
}

input[type="submit"].btn.save-emergency-contact {
  padding: 2px 2px;
  vertical-align: middle;
  margin-top: 0px;
  color: #ffffe3;
  background: none no-repeat scroll 0 0 #5C5C5C;
}
input.btn.cancel-emergency-contact {
  padding: 2px 2px;
  vertical-align: middle;
  margin-top: 0px;
  color: #ffffe3;
  background: none no-repeat scroll 0 0 #5C5C5C;
}


.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

 .question-default .pagination {
   margin-top: 0;
 }

 .comment-grading{
   margin-top: 10px;

 }
 .label-comment{
   margin-top: 10px;
 }

input.mark-grading{
   margin-left: 10px;
   padding: 0;
   border: 1px solid #d59392;

   text-align: center;
   &:hover{
     border: 1px solid #d59392;

   }
 }

#user_additional_emergency_contact_name,#user_additional_emergency_contact_address,#user_additional_emergency_contact_email,#user_additional_emergency_contact_phone{
  padding: 0;
  margin: 0;
  height: 28px;
  width: 100%;
  background-color: rgba(255, 250, 245, 0.99);
  text-align: center;
}
.stdtable a.btn-mini{
  margin-top: 0px;
  background: none no-repeat scroll 0 0 #5C5C5C;
  color: #FFFFE3;
}
.additional_emergency_contacts_content{
  margin: 10px 0 0;
}
.content-form{
  input.string.optional, input.string.email{
    width: 300px;

  }
}

.modal-body{
  .check_boxes.optional.control-label{
    width: 100% ;
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
  }
  label.checkbox{
    text-align: left;
  }
  input.check_boxes.optional{
    margin-top: 4px;
  }
}

.box-advance-invitation{
  label{
    width: 100%;
  }
  .content_form{
    label.control-label{
      width: 100%;
      text-align: left;
      margin-left: -15px;
      font-weight: bold;
    }
    .controls{
      margin-left: 30px;
      label{
        width: 310px;
        float: left;
        margin-right: 5px;
      }
      .checkbox:first-child {
        padding-top: 0px;
      }
      .radio, .checkbox {
        padding-left: 2px;
      }
    }

  }
}
.content_form{
  margin-left: 50px;

}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;

}
#advance-invitation-error{
  ul{
    margin: 0;
    li{
      padding: 0;
    }
  }
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.form-horizontal.content-form input[type="text"] {
  padding: 0;
  margin: 0;
  height: 28px;
  width: 50% !important;

}
.form-horizontal.content-form input[type="email"] {
  padding: 0;
  margin: 0;
  height: 28px;
  width: 50% !important;
}
.form-horizontal .controls .checkbox:first-child {
  margin-top: 50px;
  padding-top: 5px;
}

.additional_emergency_contacts_list.stdtable{
  th{
      background: none no-repeat scroll 0 0 #5C5C5C;
      border-right: 1px solid #494949;
      color: #B0AFAF;
      font: 100 11px Helvetica,Arial;
      padding: 5px 15px;
      text-align: left;

  }
}

.form-horizontal .controls .checkbox:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
input.addmore{
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  float: left;
  padding-top: 5px;
  text-align: left;
  width: 160px;
}
input[name="points[]"]{
  width: 30px;
}
ul.sortable li{
  display: block;
  margin-bottom: 2px;
}