<%= simple_form_for(@assignment_library) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>

    <% if params[:action] =="edit" %>
        <input class="assignment_id" type="hidden" value="<%= @assignment_library.id %>" />
        <label>The question list</label>
        <div class="question-list-show">
          <a type="button" class="btn btn-delete-question">Delete</a>

          <table class="question-list table-content stdtable table-list-content">
            <thead>
            <th><input class="checkall" type="checkbox" /></th>
            <th>name</th>
            <th>Question</th>
            </thead>
            <tbody>


            <% @questions_list.each_with_index do |question, index| %>
                <tr id="question_<%= question.id %>" class="question-content" >
                  <td> <input type="checkbox"/> </td>
                  <td > <%= question.name %></td>
                  <td > <%= question.body.first %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <label>Search question</label>
        <div class="form-search" style="width: 700px; ">

          <input type="text"  id="key_search_question"/>
          <button type="button" id="search_question" class="btn"> <%= t('common.button_search') %></button>
          <button type="button" id="close_search_question" class="btn"> <%= t('common.button_close_search') %></button>
        </div>
        <div class= "no-result hide" style="color: #f08080;" >No result found</div>
        <div class="question-search hide">
          <label> Result search</label>
          <table class="question-list-result table-content stdtable table-list-content ">
            <thead>
            <th><input class="checkall" type="checkbox" /></th>
            <th>Name</th>
            <th>The question</th>
            </thead>
            <tbody class="question-content">

            </tbody>
          </table>
          <a type="button" class="btn btn-add-question">Add Questions</a>
        </div>
        <div class="question-default">
          <label>Question list</label>
          <table class="question-list-result table-content stdtable table-list-content ">
            <thead>
            <th><input class="checkall" type="checkbox" id="check_all"/></th>
            <th>Name</th>
            <th>The question</th>
            </thead>
            <tbody class="question-content">
                <% if(@questions.length >0)  %>
                  <% @questions.each do |question| %>
                    <tr id="question_<%= question.id %>">
                      <td><input type="checkbox"> </td>
                      <td><%= question.name %></td>
                      <td><%= question.body[:question] %></td>
                    </tr>
                  <% end %>
                <% end %>
            </tbody>
          </table>
          <%= will_paginate @questions %>
          <input type="button" class="btn btn-add-question" id="add_question" value="Add Questions"/>
        </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

