<h1>Listing Assignment Libraries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_libraries.each do |asignment_library| %>
  <tr>
    <td><%= asignment_library.name %></td>
    <td><%= asignment_library.description %></td>
    <td><%= link_to 'Show', asignment_library %></td>
    <td><%= link_to 'Edit', edit_assignment_library_path(asignment_library) %></td>
    <td><%= link_to 'Destroy', asignment_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment Library', new_assignment_library_path %>
