

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment_library.name %>
</p>


<p>
  <b>Description:</b>
  <%= @assignment_library.description %>
</p>
<label>The question list</label>
<div class="question-list-show">


<table class="question-list table-content stdtable table-list-content">
  <thead>
      <th>name</th>
      <th>Question</th>
  </thead>
  <tbody>
<% @questions.each_with_index do |question, index| %>
    <tr id="question_<%= question.id %>" class="question-content" >
        <td > <%= question.name %></td>
        <td > <%= question.body[:question] %></td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<div style="width: 700px;">

  <%= link_to 'Edit', edit_assignment_library_path(@assignment_library) %> |
  <%= link_to 'Back', assignment_libraries_path %>


</div>