<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cfa" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cfa" %>">
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'jquery_upload_files/bootstrap-image-gallery.min' %>
    <script src="http://bundlejs.com/alexgorbatchev/products/textext/1.3.1?compress=true&bundles=core,ajax,arrow,autocomplete,filter,focus,prompt,suggestions,tags" type="text/javascript" charset="utf-8"></script>
    <%= stylesheet_link_tag "application" %>


    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/navbar" %>
    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/social_links" %>
    <%= render "shared/footer" %>
  </body>
</html>